<!DOCTYPE html>
<!-- saved from url=(0113)http://apps.wandoujia.com/apps/com.sintech.lsebook?pos=w%2Fapps%2Fcategories%2F%E5%90%AC%E4%B9%A6%2FsuperiorFirst -->
<html><head 39ac01185e5f189fa45e138cfd5c0e4b=""><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script async="" src="./ltts_files/prum.min.js"></script><script type="text/javascript" async="" src="./ltts_files/ga.js"></script>
    <meta charset="utf-8">
<title>乐听听书</title>
    <link href="./ltts_files/n-detail.css" rel="stylesheet">

    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://s.wdjimg.com/apps/javascripts/29c0e2de.html5shiv.js"></script>
    <![endif]-->

<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="narya" src="./ltts_files/Narya.js"></script></head>
<body data-page="detail" class="detail">

<form class="search-box" action="http://apps.wandoujia.com/search">
    <div class="fluid-left-wp fixed-110 ipt-wp">
        <div class="left-wp">
            <div class="left-inner search-ipt-wp">
                                <input placeholder="在 2789898 个应用中搜索" required="" class="search-ipt" name="key" autocomplete="off" autofocus="">
            </div>
        </div>
        <input type="hidden" name="source" value="detail">
        <div class="right-fixed search-btn-wp">
            <input type="submit" class="search-btn" value="搜索应用">
            <i class="icon"></i>
        </div>
    </div>
</form>

<ul class="hotquerys">
    <li>
        <a href="http://apps.wandoujia.com/search/%E5%85%A8%E6%98%8E%E6%98%9F%E5%88%87%E6%B0%B4%E6%9E%9C?pos=w/search/hotquery">全明星切水果</a>
        <span class="dot">・</span>
    </li>
    <li>
        <a href="http://apps.wandoujia.com/search/qq%E6%B5%8F%E8%A7%88%E5%99%A8?pos=w/search/hotquery">qq浏览器</a>
        <span class="dot">・</span>
    </li>
    <li>
        <a href="http://apps.wandoujia.com/search/%E5%BF%AB%E7%89%99?pos=w/search/hotquery">快牙</a>
        <span class="dot">・</span>
    </li>
    <li>
        <a href="http://apps.wandoujia.com/search/%E6%A1%8C%E9%9D%A2?pos=w/search/hotquery">桌面</a>
        <span class="dot">・</span>
    </li>
    <li>
        <a href="http://apps.wandoujia.com/search/%E6%B7%98%E5%AE%9D?pos=w/search/hotquery">淘宝</a>
    </li>
</ul>

    <div class="crumb">
        <a class="index" href="http://apps.wandoujia.com/?pos=w/crumb/detail" data-type="detail">首页</a>
        <span class="sep"> &gt; </span>

            <a class="detail-tag" href="http://apps.wandoujia.com/tag/%E6%96%B0%E9%97%BB%E9%98%85%E8%AF%BB?navType=app&amp;pos=w/crumb/detail">新闻阅读</a>
            <span class="sep"> &gt; </span>
        <span>乐听听书</span>
    </div>

    <div class="detail container" itemscope="" itemtype="http://schema.org/SoftwareApplication">

<div class="recommends-top" style="display:none;">
    <a class="close" href="javascript:void(0);" title="关闭">×</a>
    <ul class="rec-list-top">



    <li class="app full " data-pn="com.taobao.trip">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.taobao.trip?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/642f9a3c14d5d89b36f70b4374ddc715_68_68.png" width="68" height="68" alt="飞猪" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.taobao.trip?pos=w%2Fdetail">飞猪</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        846 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" rel="nofollow" href="./ltts_files/" download="飞猪" class="btn-download btn-light">下载</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.tencent.qqpinyin">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.tencent.qqpinyin?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/c2462de272ecc16250c06ea310498b84_68_68.png" width="68" height="68" alt="QQ输入法" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.tencent.qqpinyin?pos=w%2Fdetail">QQ输入法</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1871 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" data-permission="1" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=823a8a6&amp;url=http%3A%2F%2Fmobile.d.appchina.com%2FMcDonald%2Fr%2F5306875%2Fcom.tencent.qqpinyin_2321.vapk%3Fc%3Daplus.direct%26m%3Dredirect%26p%3Daplus.detail%26page%3Dappplus.detail%26ref%26uid%3D0&amp;pn=com.tencent.qqpinyin&amp;md5=87db3516a01acdcc6527944f412f02e0&amp;apkid=21688445&amp;vc=2321&amp;size=20900442&amp;pos=w%2Fdetail#name=QQ输入法&amp;icon=http://img.wdjimg.com/mms/icon/v1/4/b8/c2462de272ecc16250c06ea310498b84_68_68.png&amp;content-type=application" download="QQ输入法" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.didapinche.booking">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.didapinche.booking?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/4a4ad64ca734b8b03455956511b1b47d_68_68.png" width="68" height="68" alt="嘀嗒拼车" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.didapinche.booking?pos=w%2Fdetail">嘀嗒拼车</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        225 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=a2ebc07&amp;url=http%3A%2F%2Fapk.wandoujia.com%2F6%2Ff0%2F752b5ebe45163e1c44da6cdb4f0d7f06.apk&amp;pn=com.didapinche.booking&amp;md5=752b5ebe45163e1c44da6cdb4f0d7f06&amp;apkid=21668776&amp;vc=2017110101&amp;size=23143369&amp;pos=w%2Fdetail#name=嘀嗒拼车&amp;icon=http://img.wdjimg.com/mms/icon/v1/d/47/4a4ad64ca734b8b03455956511b1b47d_68_68.png&amp;content-type=application" download="嘀嗒拼车" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.gtgj.view">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.gtgj.view?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/0311e66415d359e60b69e096dd10288f_68_68.png" width="68" height="68" alt="高铁管家-抢票神器" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.gtgj.view?pos=w%2Fdetail">高铁管家-抢票神器</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        423 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" data-permission="1" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=b6a49c8&amp;url=http%3A%2F%2Fapk.wandoujia.com%2Fb%2Ff5%2F25110da6443d66b529c4420a228a0f5b.apk&amp;pn=com.gtgj.view&amp;md5=25110da6443d66b529c4420a228a0f5b&amp;apkid=21669590&amp;vc=123&amp;size=33514510&amp;pos=w%2Fdetail#name=高铁管家-抢票神器&amp;icon=http://img.wdjimg.com/mms/icon/v1/f/88/0311e66415d359e60b69e096dd10288f_68_68.png&amp;content-type=application" download="高铁管家-抢票神器" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.tencent.ttpic">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.tencent.ttpic?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/6348a0477b07b23d30a52c734547e0c4_68_68.png" width="68" height="68" alt="天天P图" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.tencent.ttpic?pos=w%2Fdetail">天天P图</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1258 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=4072d12&amp;url=http%3A%2F%2Fapk.wandoujia.com%2F9%2Fd9%2F184209d8e7c532470539f5d5cea25d99.apk&amp;pn=com.tencent.ttpic&amp;md5=184209d8e7c532470539f5d5cea25d99&amp;apkid=21649518&amp;vc=520&amp;size=72782671&amp;pos=w%2Fdetail#name=天天P图&amp;icon=http://img.wdjimg.com/mms/icon/v1/4/0c/6348a0477b07b23d30a52c734547e0c4_68_68.png&amp;content-type=application" download="天天P图" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.ss.android.essay.joke">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.ss.android.essay.joke?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/a25a5eb637a163d8491adee9955cbf71_68_68.png" width="68" height="68" alt="内涵段子" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.ss.android.essay.joke?pos=w%2Fdetail">内涵段子</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1906 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-toprec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=acbd217&amp;url=http%3A%2F%2Fapk.wandoujia.com%2Fa%2F93%2F3c0ae56790f606a87a26d4ef4fb5093a.apk&amp;pn=com.ss.android.essay.joke&amp;md5=3c0ae56790f606a87a26d4ef4fb5093a&amp;apkid=21678839&amp;vc=664&amp;size=16590400&amp;pos=w%2Fdetail#name=内涵段子&amp;icon=http://img.wdjimg.com/mms/icon/v1/1/f7/a25a5eb637a163d8491adee9955cbf71_68_68.png&amp;content-type=application" download="内涵段子" class="btn-download btn-light">安装</a> 
        </div>
    </li>
    </ul>
</div>


<div class="main-info">
    <div class="icon">
        <img src="./ltts_files/b386c2a7d5fefdafc2bb2c72fa6ea29c_256_256.png" height="110" width="110" alt="乐听听书" itemprop="icon">
    </div>
    <div class="app-txt app" data-pn="com.sintech.lsebook" data-id="3378570">
        <h2 class="title" id="app-title" itemprop="name">
            乐听听书
        </h2>

        <div class="taglines">
                    读书是最好的娱乐
        </div>




        


        






        <a data-block="0" itemprop="downloadURL" data-track="detail-install-w/apps/categories/detail/听书/superiorFirst" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=8da1bf6&amp;url=http%3A%2F%2Fapk.wandoujia.com%2F7%2Fa4%2F09f370c1dc616f95635ca7841cf09a47.apk&amp;pn=com.sintech.lsebook&amp;md5=09f370c1dc616f95635ca7841cf09a47&amp;apkid=18662308&amp;vc=23&amp;size=6087059&amp;pos=w%2Fapps%2Fcategories%2Fdetail%2F%E5%90%AC%E4%B9%A6%2FsuperiorFirst#name=乐听听书&amp;icon=http://img.wdjimg.com/mms/icon/v1/c/29/b386c2a7d5fefdafc2bb2c72fa6ea29c_68_68.png&amp;content-type=application" download="乐听听书" class="btn-download btn-green install-btn">安装</a> 


    </div>


    <div class="num-list">
        <span class="item">
            <i>1.6 万</i>
            <b>人安装</b>
        </span>
        <span class="item love">
            <i>0</i>
            <b>人喜欢</b>
        </span>
        <a title="查看评论" class="item last comment-open" href="http://apps.wandoujia.com/apps/com.sintech.lsebook?pos=w%2Fapps%2Fcategories%2F%E5%90%AC%E4%B9%A6%2FsuperiorFirst#comments">
            <i>0</i>
            <b>人评论</b>
        </a>
    </div>


    <div class="extra">
        <div class="row app-security">

<span class="verified-info">


    <s class="tag security-info 
        
        unknown
        " data-md5="09f370c1dc616f95635ca7841cf09a47"></s>

        <s class="tag no-ad"></s>
         
        

    <s class="tag permission-info
            normal
        ">
    </s>

    <s class="tag verify-info wdj-verified"></s>


</span>


<div class="permission-not-verified" style="display:none">
    <div class="permission-result meta-result">
        <div class="result-txt">
            应用调用了以下隐私权限，请谨慎安装：
            <ul>
            </ul>
        </div>
    </div>
</div>        </div>
<div id="security-09f370c1dc616f95635ca7841cf09a47" style="display:none;">
    <div class="security-result meta-result">
            <span class="result">尚未对该应用进行安全扫描，请谨慎安装</span>
    </div>
</div><div id="ads-result" style="display:none;">
    <div class="ads-result meta-result">
        <span class="result">应用会在通知栏显示广告</span>
        <div class="result-img"></div>
        <div class="tip">
            安装后，您可能在通知栏看到不明来源的广告信息，影响您的使用体验。
        </div>
    </div>
</div>
<div id="adv-embed-result" style="display:none;">
    <div class="ads-result meta-result">
        <div class="result-txt">
            应用含有广告模块，可能会影响使用体验。
        </div>
    </div>
</div>

<div id="no-ad" style="display:none;">
    <div class="ads-result meta-result">
        <div class="result-txt">
            应用未检查到广告模块。
        </div>
    </div>
</div>

<div id="verified-result" style="display:none;">
    <div class="ads-result meta-result">
        <div class="result-txt verified verified-txt">
            该应用的数字签名与官方版本一致。
        </div>
    </div>
</div>

<div id="not-verified-result" style="display:none;">
    <div class="ads-result meta-result">
        <div class="result-txt not-verified-txt">
            还没有验证是不是开发者发布的安装包。
        </div>

    </div>
</div>

<div id="security-unknown" style="display:none">
    <div class="ads-result meta-result">
        <div class="result-txt">
            安全厂商尚无法确定此应用的安全状态，请谨慎安装。
        </div>
    </div>
</div>



<div id="permission-verified" style="display:none">
    <div class="permission-result meta-result">
        <div class="result-txt">
            应用未调用手机隐私权限，如电话短信等。
        </div>
    </div>
</div>

<div id="permission-trusted" style="display:none">
    <div class="permission-result meta-result">
        <div class="result-txt">
                        应用由可信来源发布，不会滥用手机的隐私权限。
        </div>
    </div>
</div>    </div>

</div>
        <div class="col-wp clearfix">
            <div class="top-wrap">

<div class="block-title">应用截图</div>
<div class="j-scrollbar-wrap">
    <div class="view-box">
                    <div class="overview" style="width: 621px;">





                <img src="./ltts_files/8ccc9e32fe58a8188a0d1255596ac7e7_320_570.jpeg" alt="乐听听书" width="149">




                <img src="./ltts_files/a8811a113548ba8ce260f54601388054_320_570.jpeg" alt="乐听听书" width="149">




                <img src="./ltts_files/58fb3c8f537764d1d6188de5091fd138_320_570.jpeg" alt="乐听听书" width="149">




                <img src="./ltts_files/62528eab87270fabd4ccaafc659fe519_320_570.jpeg" alt="乐听听书" width="149">


            </div>
    </div>

    <div class="scrollbar" style="display: none;">
        <div class="track">
            <div class="thumb"></div>
        </div>
    </div>
</div>            </div>

            <div class="col-main">
                <div class="main-inner">
                    <div class="desc-feeds">
<span class="block-title gift-title" style="display:none;">礼包</span>
<div class="gifts clearfix">
</div><span class="block-title">描述</span>
<div class="desc" id="desc" itemprop="description" style="height: auto;">
    朗读功能：大文件秒开，流畅朗读。点击屏幕上部进入上一页，点击屏幕下部进入下一页。<br>书签功能：点击书籍名称进入；点击时间进度，显示重命名、删除等功能。<br>其他功能：可以选择复制文本、跳转、睡眠、查找文字等。<br>高度定制：可以定制背景图片、音乐、字体等，可以设置需要忽略的语句。
</div>

<a class="view-more" id="more-desc" href="javascript:;" style="display:none;">更多<i></i></a><div class="changes">
    <span class="block-title">更新内容</span>
    <div class="item">
        <div id="changes-desc" class="txt desc" style="height: 304px;">
            1.8 <br>添加自定义朗读忽略或替换<br>添加音量键控制朗读<br>添加逐句朗读代替逐段朗读<br>解决来电自动朗读问题<br>1.7 修复后台朗读会自动退出问题。修复其他bug。<br>1.3<br>添加朗读高亮颜色设置。<br>解决部分机型crash问题。<br>解决特殊字符导致页面不显示问题。<br>1.5<br>1.来电时自动停止朗读。2.解决偶尔切换书本时无法朗读问题。<br>3.解决连接断句偶尔crash问题。<br>1.6<br>1.适配安卓5.1版本<br>2.固定背景图片，提升体验。
        </div>
    </div>
</div>
<div class="changes-cover" style="display: none;"></div>
<a class="view-more inverse" id="changes-desc-more" href="javascript:;" style="">收起<i></i></a>                    </div>
<div class="comment-block" id="comments">
    
    <div id="poster-holder">
    
    <span class="block-title">短评
            </span>

</div>




    <ol class="comments" id="superior-comments-holder" data-total="0" style="display:none;">
        <span class="block-title">热门评论</span>
    </ol>

    <ol class="comments" id="comments-holder" data-total="0">
    </ol>

    
    <div id="no-comments" class="no-comments" style="">暂无评论</div>
    
    <div class="reply" style="display:none;" id="reply-holder">
        <ul class="replies" id="reply-list">
        </ul>
        <div class="login-alert">
        </div>
    </div>
    
</div>                </div>
            </div>

            <div class="col-extra no-editorComment">

<div class="metas">
    <span class="block-title">
        信息
    </span>
    <dl class="app-attrs">

            <dt>大小</dt>
            <dd>5.81M</dd>

            <dt>分类</dt>
            <dd class="tag-list">
                <a href="http://apps.wandoujia.com/tag/%E6%96%B0%E9%97%BB%E9%98%85%E8%AF%BB?navType=app&amp;pos=w/detail/com.sintech.lsebook">新闻阅读</a>
                <a href="http://apps.wandoujia.com/tag/%E5%90%AC%E4%B9%A6?navType=app&amp;pos=w/detail/com.sintech.lsebook">听书</a>
            </dd>

                <dt>更新</dt>
                <dd itemprop="datePublished">2016年6月19日</dd>

            <dt>版本</dt>
            <dd itemprop="softwareVersion"> 1.8 &nbsp; <a class="more-versions" href="http://apps.wandoujia.com/apps/com.sintech.lsebook/versions?pos=w/apps/categories/detail/%E5%90%AC%E4%B9%A6/superiorFirst" rel="nofollow">更多版本 »</a></dd>

            <dt>要求</dt>
            <dd class="perms" itemprop="operatingSystems" content="Android">
Android
     2.2.x
     以上
    
                    <div>
                    <ul id="perms-list" class="perms-list" style="display:none">
                        <li><span class="perms">修改或删除USB存储设备中的内容</span></li>
                        <li><span class="perms">读取手机状态和身份</span></li>
                        <li><span class="perms">从互联网接收数据</span></li>
                        <li><span class="perms">读取基于网络的粗略位置</span></li>
                        <li><span class="perms">装载和卸载文件系统</span></li>
                    </ul>
                    <a href="javascript:;" rel="nofollow" class="view-more" id="view-perms">查看权限要求<i></i></a>
                </div>
            </dd>
        <dt>网站</dt>
        <dd>
            <span itemtype="http://schema.org/Organization" itemscope="" itemprop="author">
                <meta content="王崔" itemprop="name">


            </span>

            <span class="dev-sites">王崔</span>

        </dd>

        <dt>来自</dt>
        <dd>
                            官方提供
        </dd>

    </dl>
</div>
<div class="recommends">
    <span class="block-title">喜欢该应用的人还喜欢</span>
    <ul class="rec-list">



    <li class="app full " data-pn="com.taobao.trip">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.taobao.trip?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/642f9a3c14d5d89b36f70b4374ddc715_68_68.png" width="68" height="68" alt="飞猪" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.taobao.trip?pos=w%2Fdetail">飞猪</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        846 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=b0c54f8&amp;url=http%3A%2F%2Fapk.wandoujia.com%2Fc%2Fd0%2F89fa858ec7c35b080a3910744ab72d0c.apk&amp;pn=com.taobao.trip&amp;md5=89fa858ec7c35b080a3910744ab72d0c&amp;apkid=21653400&amp;vc=8100045&amp;size=49527596&amp;pos=w%2Fdetail#name=飞猪&amp;icon=http://img.wdjimg.com/mms/icon/v1/5/71/642f9a3c14d5d89b36f70b4374ddc715_68_68.png&amp;content-type=application" download="飞猪" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.tencent.qqpinyin">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.tencent.qqpinyin?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/c2462de272ecc16250c06ea310498b84_68_68.png" width="68" height="68" alt="QQ输入法" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.tencent.qqpinyin?pos=w%2Fdetail">QQ输入法</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1871 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" data-permission="1" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=823a8a6&amp;url=http%3A%2F%2Fmobile.d.appchina.com%2FMcDonald%2Fr%2F5306875%2Fcom.tencent.qqpinyin_2321.vapk%3Fc%3Daplus.direct%26m%3Dredirect%26p%3Daplus.detail%26page%3Dappplus.detail%26ref%26uid%3D0&amp;pn=com.tencent.qqpinyin&amp;md5=87db3516a01acdcc6527944f412f02e0&amp;apkid=21688445&amp;vc=2321&amp;size=20900442&amp;pos=w%2Fdetail#name=QQ输入法&amp;icon=http://img.wdjimg.com/mms/icon/v1/4/b8/c2462de272ecc16250c06ea310498b84_68_68.png&amp;content-type=application" download="QQ输入法" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.didapinche.booking">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.didapinche.booking?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/4a4ad64ca734b8b03455956511b1b47d_68_68.png" width="68" height="68" alt="嘀嗒拼车" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.didapinche.booking?pos=w%2Fdetail">嘀嗒拼车</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        225 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=a2ebc07&amp;url=http%3A%2F%2Fapk.wandoujia.com%2F6%2Ff0%2F752b5ebe45163e1c44da6cdb4f0d7f06.apk&amp;pn=com.didapinche.booking&amp;md5=752b5ebe45163e1c44da6cdb4f0d7f06&amp;apkid=21668776&amp;vc=2017110101&amp;size=23143369&amp;pos=w%2Fdetail#name=嘀嗒拼车&amp;icon=http://img.wdjimg.com/mms/icon/v1/d/47/4a4ad64ca734b8b03455956511b1b47d_68_68.png&amp;content-type=application" download="嘀嗒拼车" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.gtgj.view">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.gtgj.view?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/0311e66415d359e60b69e096dd10288f_68_68.png" width="68" height="68" alt="高铁管家-抢票神器" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.gtgj.view?pos=w%2Fdetail">高铁管家-抢票神器</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        423 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" data-permission="1" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=b6a49c8&amp;url=http%3A%2F%2Fapk.wandoujia.com%2Fb%2Ff5%2F25110da6443d66b529c4420a228a0f5b.apk&amp;pn=com.gtgj.view&amp;md5=25110da6443d66b529c4420a228a0f5b&amp;apkid=21669590&amp;vc=123&amp;size=33514510&amp;pos=w%2Fdetail#name=高铁管家-抢票神器&amp;icon=http://img.wdjimg.com/mms/icon/v1/f/88/0311e66415d359e60b69e096dd10288f_68_68.png&amp;content-type=application" download="高铁管家-抢票神器" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.tencent.ttpic">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.tencent.ttpic?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/6348a0477b07b23d30a52c734547e0c4_68_68.png" width="68" height="68" alt="天天P图" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.tencent.ttpic?pos=w%2Fdetail">天天P图</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1258 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=4072d12&amp;url=http%3A%2F%2Fapk.wandoujia.com%2F9%2Fd9%2F184209d8e7c532470539f5d5cea25d99.apk&amp;pn=com.tencent.ttpic&amp;md5=184209d8e7c532470539f5d5cea25d99&amp;apkid=21649518&amp;vc=520&amp;size=72782671&amp;pos=w%2Fdetail#name=天天P图&amp;icon=http://img.wdjimg.com/mms/icon/v1/4/0c/6348a0477b07b23d30a52c734547e0c4_68_68.png&amp;content-type=application" download="天天P图" class="btn-download btn-light">安装</a> 
        </div>
    </li>



    <li class="app full " data-pn="com.ss.android.essay.joke">
        <div class="icon-wrap">
            <a href="http://apps.wandoujia.com/apps/com.ss.android.essay.joke?pos=w%2Fdetail" class="popup-area"><img src="./ltts_files/a25a5eb637a163d8491adee9955cbf71_68_68.png" width="68" height="68" alt="内涵段子" class="icon"></a>
        </div>
        <div class="desc">
            <a class="title name popup-area" href="http://apps.wandoujia.com/apps/com.ss.android.essay.joke?pos=w%2Fdetail">内涵段子</a>
    <a class="tag gooddev" href="http://www.wandoujia.com/manual_testing?from=apps" target="_blank" title=""></a>

            <span class="meta">        1906 万人安装
</span>



        


        






        <a data-block="0" data-track="detail-install-rec" data-gamecontent="0" rel="nofollow" href="http://apps.wandoujia.com/redirect?signature=acbd217&amp;url=http%3A%2F%2Fapk.wandoujia.com%2Fa%2F93%2F3c0ae56790f606a87a26d4ef4fb5093a.apk&amp;pn=com.ss.android.essay.joke&amp;md5=3c0ae56790f606a87a26d4ef4fb5093a&amp;apkid=21678839&amp;vc=664&amp;size=16590400&amp;pos=w%2Fdetail#name=内涵段子&amp;icon=http://img.wdjimg.com/mms/icon/v1/1/f7/a25a5eb637a163d8491adee9955cbf71_68_68.png&amp;content-type=application" download="内涵段子" class="btn-download btn-light">安装</a> 
        </div>
    </li>
    </ul>
</div>



            </div>
        </div>
    </div>

<footer class="footer">
</footer><div class="recom-bubble" style="display:none;">
    <div class="recom-bubble-center">
        <a href="javascript:;" class="recom-bubble-close">×</a>
        <div class="recom-bubble-wrapper">
            <li class="recom-bubble-loading">
                <img src="./ltts_files/loading.gif" alt="加载中">
            </li>
        </div>
        <a class="recom-bubble-cookie">7天内不再显示</a>
    </div>
</div>
<script src="./ltts_files/require.js" type="text/javascript"></script>
<script>
    var detailCfg = {
        packageName : "com.sintech.lsebook",
        logined : 0,
        loginUrl : 'https://account.wandoujia.com/v1/user/?do=login&callback=http%3A%2F%2Fapps.wandoujia.com%2Fapps%2Fcom.sintech.lsebook',
        versionCode:
            664
    };

</script>
<script src="./ltts_files/n-detail.js"></script><div class="suggestion-wp" style="position: absolute; display: none; width: 487px; top: 39px; left: 376.5px;"><ul class="suggestion-list"></ul></div>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-15790641-19']);

_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.wdjcdn.com/upload/www/wandoujia.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<script>
var _prum = [['id', '53ba6496abe53d9d016a906b'],
            ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
   var s = document.getElementsByTagName('script')[0]
     , p = document.createElement('script');
   p.async = 'async';
   p.src = '//rum-static.pingdom.net/prum.min.js';
   s.parentNode.insertBefore(p, s);
})();
</script>



</body></html>
