<!DOCTYPE html>
<!-- saved from url=(0071)https://mobile.baidu.com/item?docid=9544839&source=mobres&from=1010680m -->
<html style="font-size: 187.639px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>乐听听书</title>
        <script async="" src="./mltts_files/dp.mobile.min.js"></script><script async="" src="./mltts_files/alog.mobile.min.js"></script><script>
            /* eslint-disable */
            window.alogObjectConfig = {
                sample: '1',
                product: '20',
                page: '20_3',
                speed: {
                    sample: '0.1'
                },
                cus: {
                    // 自定义事件的抽样自行设置
                    sample: '1'
                }
            };
            void function(a,b,c,d,e,f,g){a.alogObjectName=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=a[e].l||+new Date,d="https:"===a.location.protocol?"https://fex.bdstatic.com"+d:"http://fex.bdstatic.com"+d;var h=!0;if(a.alogObjectConfig&&a.alogObjectConfig.sample){var i=Math.random();a.alogObjectConfig.rand=i,i>a.alogObjectConfig.sample&&(h=!1)}h&&(f=b.createElement(c),f.async=!0,f.src=d+"?v="+~(new Date/864e5)+~(new Date/864e5),g=b.getElementsByTagName(c)[0],g.parentNode.insertBefore(f,g))}(window,document,"script","/hunter/alog/alog.mobile.min.js","alog"),void function(){function a(){}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date),alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:a,tti:a,page_ready:a}}();
            void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
            // dp end
            window.baseTime = new Date;
            /* eslint-enable */
        </script>
        <meta name="keywords" content="乐听听书,乐听听书下载,乐听听书应用下载,乐听听书安卓版">
        <meta name="description" content="乐听听书应用，undefined，百度手机助手提供乐听听书应用下载，名称：乐听听书，大小：5.81MB，5，下载量：1万，分类：生活实用">
        
        <link rel="canonical" href="https://mobile.baidu.com/item?pid=1492025">
        
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=0">
        <link rel="icon" href="https://ascdn.baidu.com/appsite/images/logo128x128.png" sizes="128x128">
        <link rel="stylesheet" href="./mltts_files/mainStyle-8f0e5e0e2d0caa0d3439.css">
        <style type="text/css">._1C5Nf {
    margin-bottom: .965rem;
}
._1hjI4 {
    width: 100%;
    z-index: 5;
    overflow: hidden;
}
._26UlS {
    display: block;
    -webkit-box-flex: 1.0;
    text-align: center;
    font-size: .34rem;
    line-height: .965rem;
}
.HnqaJ {
    display: block;
    line-height: .965rem;
    color: #fff;
    width: 1rem;
    text-align: center;
    font-size: .45rem;
}
._3lgn4 {
    overflow: hidden;
    -webkit-box-flex: 1.0;
    display: -webkit-box;
}
._2DX3x {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
._1J4VC {
    position: relative;
    top: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: 0 auto;
}
.NjueC {
    display: block;
    background: #fff;
    border-radius: 100% 100% 0 0;
    height: 1.6rem;
    width: 110%;
    margin-left: -5%;
    text-align: center;
    padding-top: 1rem;
}
._3NrH1 {
    position: absolute;
    border-radius: 100% 100% 0 0;
    height: 1.3rem;
    width: 110%;
    margin-left: -5%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
}
._1_4ji {
    font-size: .4rem;
    margin-right: .15rem;
}
._3CBMc {
    font-size: .24rem;
    line-height: .5rem;
}
.kF2GU {
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0%;
}
.Go0n0 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0%;
    background: rgba(0, 0, 0, .05);
}
._2Yzsw {
    display: block;
    width: 1.2rem;
    height: .21rem;
    background-size: 1.2rem .21rem;
    clear: both;
    background-repeat: no-repeat;
}

._3_rdb {
    white-space: nowrap;
}
.R-4kZ {
    display: block;
    padding: 1px;
    border-radius: 1px;
    border: 1px solid;
    margin-right: .1rem;
    font-size: .22rem;
}
._3PjRQ {
    position: relative;
}
.zTPvj {
    font-size: .26rem;
}
._2-WiL {
    padding: 0 .1rem;
}
.ol6bb {
    width: 100%;
    position: fixed;
    top: .96rem;
    left: 0;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;
    height: 1rem;
    padding: 0 .2rem;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}
._1gG_g {
    display: block;
    width: .6rem;
    height: .6rem;
}
._1l0hA {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    padding: 0 9px;
}
._1quWg {
    font-size: .26rem;
}
.Fo0la {
    font-size: .2rem;
    margin-top: .1rem;
}
.O6qwl {
    font-size: .26rem;
    border-radius: 3px;
    padding: .15rem;
}
._3GcjN {
    padding: .2rem 0;
    width: 6.7rem;
    margin: 0 auto;
}
._3PwbX {
    font-size: .36rem;
    -webkit-box-flex: 1.0;
}
._1v9vW {
    font-size: .4rem;
    width: .75rem;
    text-align: center;
}
._254Hx {
    border-right: 1px solid #fff;
    height: .4rem;
}
._2BUdk {
    -webkit-box-flex: 1.0;
    text-align: center;
}
._3Lf5V {
    margin-right: .2rem;
}
._2UNnC {
    -webkit-box-flex: 2;
}
.jRjuR {
    -webkit-box-flex: 1;
}
._3ZVgQ {
    -webkit-box-flex: 1;
    width: 50%;
}
._2e8Uo {
    height: 1rem;
}
._1PbJt {
    display: block;
    width: .5rem;
    height: .5rem;
    margin-left: .25rem;
}
._2C8sn {
    margin-left: .25rem;
    font-size: .28rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
}
._1bsLU {
    font-size: .28rem;
    margin-right: .3rem;
}
.KirPj {
    font-size: .34rem;
    line-height: .8rem;
}
._2nycM {
    -webkit-box-flex: 1.0;
    text-align: center;
}
.CKvmN {
    display: inline-block;
    padding: 0 .2rem;
    border-bottom-width: 2px;
}
.wpSnQ {
    font-size: .35rem;
    padding: .2rem .5rem;
    background-color: #fff;
}
._1g_6c {
    display: inline-block;
    background-size: 2.2rem .38rem;
    height: .38rem;
    width: 2.2rem;
}

._3njxr {
    font-size: 0;
}
._3Repm {
    font-size: .35rem;
    line-height: 1rem;
    height: 1rem;
    padding: 0 .23rem;
}
._2GrDy {
    padding: .3rem .23rem .23rem;
}
._2qY3I {
    width: 1rem;
}
._1g3es {
    -webkit-box-flex: 1.0;
    font-size: .27rem;
    margin-left: .23rem;
}
._2W49d {
    display: block;
    font-size: .32rem;
    line-height: .6rem;
    font-weight: 400;
}
._2i6Ag {
    margin-bottom: .2rem;
}
.ytv9n {
    line-height: .4rem;
    word-break: break-all;
}
._3QjuP {
    margin-right: .2rem;
}
._1UZ0b {
    padding: .25rem .26rem .25rem .38rem;
}
.mC_6q {
    display: block;
    width: .5rem;
    height: .5rem;
}
._1E7dw {
    font-size: .32rem;
    padding-left: .26rem;
    margin-right: .4rem;
    -webkit-box-flex: 1;
}
._29-Pf {
    display: block;
    font-size: .26rem;
    width: 1.1rem;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    border-radius: .3rem;
}
._3e-BS {
    padding: 0 .08rem;
}
._3RqpV {
    display: inline-block;
    width: 5.9rem;
    padding: .08rem;
    margin: .08rem;
}
.BaO-D {
    width: 1.58rem;
    display: block;
}
._32gyP {
    -webkit-box-flex: 1;
    font-size: .24rem;
    line-height: 1.4;
    margin-left: .15rem;
}
._3Gq2n {
    font-size: .28rem;
    line-height: 1.7;
}
.Bd6Jd {
    font-size: .24rem;
    line-height: 1.8;
    padding: 0 .2rem;
    border-radius: .22rem;
    position: relative;
}
.Bd6Jd::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
}
._3RAfw {
    border-top: 1px solid #dedede;
}
.jhUdx {
    margin-top: .333rem;
}
._8YgG7 {
    font-size: .32rem;
    line-height: .9rem;
    height: .9rem;
    color: #333;
    text-align: center;
    word-break: break-all;
    padding: 0 .2rem;
}
._18FUT {
    overflow: hidden;
    margin-left: .3rem;
}
.iA0ny {
    white-space: nowrap;
    position: relative;
}
.bYQpx {
    display: inline-block;
    width: 2.1rem;
    height: 3.5rem;
    margin: 0 .05rem;
}
._3wLzr {
    margin: .1rem .3rem 0;
}
._1fOti {
    overflow: hidden;
    height: .84rem;
}
._3Y-Hz {
    overflow: hidden;
    height: inherit;
}
.LgWy6 {
    font-size: .28rem;
    line-height: .42rem;
    word-break: break-all;
}
._3qGi3 {
    font-size: .26rem;
    text-align: right;
}
._1XARX {
    font-size: .28rem;
    line-height: .4rem;
    margin: .23rem .3rem;
}
.C1nqS {
    font-size: .26rem;
}
._21sck {
    padding-right: .2rem;
}
._3ZwO8 {
    padding: .28rem .25rem;
    font-size: 0;
    position: relative;
    left: .3rem;
}
._1Xr-G {
    display: inline-block;
    padding: 0 .2rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .3rem;
    margin-right: .22rem;
    text-align: center;
    min-width: .8rem;
}
._3y0x3 {
    font-size: 0;
    z-index: 10;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
._3pBwr {
    width: auto;
    height: auto;
}
.I0G0q {
    padding: 0 .22rem;
    font-size: 0;
}
.xWQJM {
    height: .8rem;
    line-height: .8rem;
    position: relative;
}
.yKsl3 {
    float: left;
    font-size: .34rem;
}
._1akJv {
    overflow: hidden;
    margin-top: .2rem;
}
._1g1j7 {
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
}
._3j3Oz {
    display: block;
}
._39wWg {
    width: 1rem;
    height: 1rem;
}
._1AXFd {
    font-size: .3rem;
    line-height: .8rem;
    width: 1.5rem;
    display: block;
}
._2fahS {
    display: inline-block;
    height: .38rem;
    line-height: .38rem;
    width: 1rem;
    text-align: center;
    border-radius: .04rem;
    font-size: .26rem;
}
._3S1o1 {
    padding: 0 .22rem;
    font-size: 0;
}
._394_E {
    height: .8rem;
    line-height: .8rem;
    position: relative;
}
._3XEFP {
    float: left;
    font-size: .34rem;
}
._32IQK {
    overflow: hidden;
    margin-top: .2rem;
}
.vinFc {
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
}
._3-JBM {
    display: block;
    position: relative;
    width: 1rem;
    margin: 0 auto;
}
._2osjz {
    font-size: .2rem;
    width: .43rem;
    height: .25rem;
    line-height: .25rem;
    border-radius: 0 .2rem .2rem 0;
}
._2a3a2 {
    background: #f5605c;
}
._2sd0y {
    background: #f57900;
}
.PkKBw {
    background: #ffb855;
}
._1WIjh {
    width: 1rem;
    height: 1rem;
}
._16zEx {
    font-size: .3rem;
    line-height: .8rem;
    width: 1.5rem;
    display: block;
}
._18xQC {
    display: inline-block;
    height: .38rem;
    line-height: .38rem;
    width: 1rem;
    text-align: center;
    border-radius: .04rem;
    font-size: .26rem;
}
._1S5Nd {
    font-size: .28rem;
    top: 0;
}
._2lklK {
    display: inline-block;
    text-align: center;
    font-size: .3rem;
}
._2Pn8x {
    padding: .22rem .15rem;
}
._3tpK9 {
    display: block;
    -webkit-box-flex: 1;
    font-size: .32rem;
    line-height: .65rem;
    height: .65rem;
    margin: 0 .15rem;
}
._3EsNx {
    width: 5rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-left: -2.5rem;
    z-index: 200;
    left: 50%;
}
._1Urci {
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .8);
}
._3zp9_ {
    display: block;
    width: .9rem;
    height: .9rem;
    margin-left: .2rem;
}
._1i8kF {
    font-size: .24rem;
    -webkit-box-flex: 1.0;
    line-height: .3rem;
    margin-left: .2rem;
}
._1MQTY {
    z-index: 10;
    height: 100%;
    width: 100%;
}
._393Bq {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.Jjqp4 {
    font-size: 0;
    width: 100%;
    z-index: 100;
}
._12Zpk {
    padding: 0 .24rem .24rem .24rem;
    max-height: 6.5rem;
    overflow: auto;
    text-align: center;
}
._3wi8_ {
    display: inline-block;
    width: 95%;
    height: 5.24rem;
}
.XHKRE {
    display: block;
    width: 100%;
    text-align: center;
    line-height: .7rem;
    height: .7rem;
    font-size: .4rem;
}
._2kQRg {
    display: block;
    border-radius: 100% 100% 0 0;
    height: 1.35rem;
    width: 120%;
    margin-left: -10%;
    text-align: center;
    padding-top: 1.25rem;
    margin-bottom: -.5rem;
}
.Hr7DR {
    position: absolute;
    border-radius: 100% 100% 0 0;
    height: 1.2rem;
    width: 110%;
    margin-left: -5%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
}
._6yKzV {
    right: 0;
    top: .6rem;
    margin: 0 auto;
    display: block;
    width: 1.5rem;
}
.gdfsP {
    width: 1.5rem;
    height: 1.5rem;
}
._1gLt- {
    position: absolute;
    width: 1.1rem;
    left: .8rem;
    top: .8rem;
}
._2UWBv {
    font-size: .34rem;
    line-height: .4rem;
    max-width: 300px;
    margin: 0 auto;
}
.sLYtg {
    font-size: .28rem;
    line-height: .4rem;
}
._15zo8 {
    display: block;
    width: .5rem;
    text-align: center;
    line-height: .5rem;
    height: .5rem;
    font-size: .3rem;
    margin: 0 auto .6rem;
    border-radius: 100%;
}
</style>
        <script>
            (function (doc, win) {
                var docEl = doc.documentElement;
                var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
                function recalc() {
                    var clientWidth = docEl.clientWidth;
                    if (clientWidth) {
                        docEl.style.fontSize = 100 * (clientWidth / 720) + 'px';
                       // docEl.style.display = 'block';
                    }
                }
                recalc();
                if (doc.addEventListener) {
                    win.addEventListener(resizeEvt, recalc, false);
                    doc.addEventListener('DOMContentLoaded', recalc, false);
                }
            })(document, window);
        </script><script type="text/javascript">navigator.__defineGetter__('userAgent', function () { return 'Mozilla/5.0 (Linux; U; Android 4.0.4; en-gb; GT-I9300 Build/IMM76D) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30'; });</script>
        <script>alog('speed.set', 'ht', +new Date);</script>
    <style type="text/css" id="s1122-0">._1C5Nf {
    margin-bottom: .965rem;
}
._1hjI4 {
    width: 100%;
    z-index: 5;
    overflow: hidden;
}
._26UlS {
    display: block;
    -webkit-box-flex: 1.0;
    text-align: center;
    font-size: .34rem;
    line-height: .965rem;
}
.HnqaJ {
    display: block;
    line-height: .965rem;
    color: #fff;
    width: 1rem;
    text-align: center;
    font-size: .45rem;
}
._3lgn4 {
    overflow: hidden;
    -webkit-box-flex: 1.0;
    display: -webkit-box;
}
</style><style type="text/css" id="s1109-0">._2DX3x {
    width: 100%;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
._1J4VC {
    position: relative;
    top: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: 0 auto;
}
.NjueC {
    display: block;
    background: #fff;
    border-radius: 100% 100% 0 0;
    height: 1.6rem;
    width: 110%;
    margin-left: -5%;
    text-align: center;
    padding-top: 1rem;
}
._3NrH1 {
    position: absolute;
    border-radius: 100% 100% 0 0;
    height: 1.3rem;
    width: 110%;
    margin-left: -5%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
}
._1_4ji {
    font-size: .4rem;
    margin-right: .15rem;
}
._3CBMc {
    font-size: .24rem;
    line-height: .5rem;
}
.kF2GU {
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0%;
}
.Go0n0 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0%;
    background: rgba(0, 0, 0, .05);
}
._2Yzsw {
    display: block;
    width: 1.2rem;
    height: .21rem;
    background-size: 1.2rem .21rem;
    clear: both;
    background-repeat: no-repeat;
}

._3_rdb {
    white-space: nowrap;
}
.R-4kZ {
    display: block;
    padding: 1px;
    border-radius: 1px;
    border: 1px solid;
    margin-right: .1rem;
    font-size: .22rem;
}
._3PjRQ {
    position: relative;
}
.zTPvj {
    font-size: .26rem;
}
._2-WiL {
    padding: 0 .1rem;
}
</style><style type="text/css" id="s1117-0">.ol6bb {
    width: 100%;
    position: fixed;
    top: .96rem;
    left: 0;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;
    height: 1rem;
    padding: 0 .2rem;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}
._1gG_g {
    display: block;
    width: .6rem;
    height: .6rem;
}
._1l0hA {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    padding: 0 9px;
}
._1quWg {
    font-size: .26rem;
}
.Fo0la {
    font-size: .2rem;
    margin-top: .1rem;
}
.O6qwl {
    font-size: .26rem;
    border-radius: 3px;
    padding: .15rem;
}
</style><style type="text/css" id="s1116-0">._3GcjN {
    padding: .2rem 0;
    width: 6.7rem;
    margin: 0 auto;
}
._3PwbX {
    font-size: .36rem;
    -webkit-box-flex: 1.0;
}
._1v9vW {
    font-size: .4rem;
    width: .75rem;
    text-align: center;
}
._254Hx {
    border-right: 1px solid #fff;
    height: .4rem;
}
._2BUdk {
    -webkit-box-flex: 1.0;
    text-align: center;
}
._3Lf5V {
    margin-right: .2rem;
}
._2UNnC {
    -webkit-box-flex: 2;
}
.jRjuR {
    -webkit-box-flex: 1;
}
._3ZVgQ {
    -webkit-box-flex: 1;
    width: 50%;
}
</style><style type="text/css" id="s1115-0">._2e8Uo {
    height: 1rem;
}
._1PbJt {
    display: block;
    width: .5rem;
    height: .5rem;
    margin-left: .25rem;
}
._2C8sn {
    margin-left: .25rem;
    font-size: .28rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
}
._1bsLU {
    font-size: .28rem;
    margin-right: .3rem;
}
</style><style type="text/css" id="s1126-0">.KirPj {
    font-size: .34rem;
    line-height: .8rem;
}
._2nycM {
    -webkit-box-flex: 1.0;
    text-align: center;
}
.CKvmN {
    display: inline-block;
    padding: 0 .2rem;
    border-bottom-width: 2px;
}
</style><style type="text/css" id="s1112-0">.wpSnQ {
    font-size: .35rem;
    padding: .2rem .5rem;
    background-color: #fff;
}
._1g_6c {
    display: inline-block;
    background-size: 2.2rem .38rem;
    height: .38rem;
    width: 2.2rem;
}

._3njxr {
    font-size: 0;
}
._3Repm {
    font-size: .35rem;
    line-height: 1rem;
    height: 1rem;
    padding: 0 .23rem;
}
._2GrDy {
    padding: .3rem .23rem .23rem;
}
._2qY3I {
    width: 1rem;
}
._1g3es {
    -webkit-box-flex: 1.0;
    font-size: .27rem;
    margin-left: .23rem;
}
._2W49d {
    display: block;
    font-size: .32rem;
    line-height: .6rem;
    font-weight: 400;
}
._2i6Ag {
    margin-bottom: .2rem;
}
.ytv9n {
    line-height: .4rem;
    word-break: break-all;
}
._3QjuP {
    margin-right: .2rem;
}
</style><style type="text/css" id="s1107-0">._1UZ0b {
    padding: .25rem .26rem .25rem .38rem;
}
.mC_6q {
    display: block;
    width: .5rem;
    height: .5rem;
}
._1E7dw {
    font-size: .32rem;
    padding-left: .26rem;
    margin-right: .4rem;
    -webkit-box-flex: 1;
}
._29-Pf {
    display: block;
    font-size: .26rem;
    width: 1.1rem;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    border-radius: .3rem;
}
</style><style type="text/css" id="s1119-0">._3e-BS {
    padding: 0 .08rem;
}
._3RqpV {
    display: inline-block;
    width: 5.9rem;
    padding: .08rem;
    margin: .08rem;
}
.BaO-D {
    width: 1.58rem;
    display: block;
}
._32gyP {
    -webkit-box-flex: 1;
    font-size: .24rem;
    line-height: 1.4;
    margin-left: .15rem;
}
._3Gq2n {
    font-size: .28rem;
    line-height: 1.7;
}
.Bd6Jd {
    font-size: .24rem;
    line-height: 1.8;
    padding: 0 .2rem;
    border-radius: .22rem;
    position: relative;
}
.Bd6Jd::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
}
</style><style type="text/css" id="s1113-0">._3RAfw {
    border-top: 1px solid #dedede;
}
.jhUdx {
    margin-top: .333rem;
}
._8YgG7 {
    font-size: .32rem;
    line-height: .9rem;
    height: .9rem;
    color: #333;
    text-align: center;
    word-break: break-all;
    padding: 0 .2rem;
}
._18FUT {
    overflow: hidden;
    margin-left: .3rem;
}
.iA0ny {
    white-space: nowrap;
    position: relative;
}
.bYQpx {
    display: inline-block;
    width: 2.1rem;
    height: 3.5rem;
    margin: 0 .05rem;
}
._3wLzr {
    margin: .1rem .3rem 0;
}
._1fOti {
    overflow: hidden;
    height: .84rem;
}
._3Y-Hz {
    overflow: hidden;
    height: inherit;
}
.LgWy6 {
    font-size: .28rem;
    line-height: .42rem;
    word-break: break-all;
}
._3qGi3 {
    font-size: .26rem;
    text-align: right;
}
._1XARX {
    font-size: .28rem;
    line-height: .4rem;
    margin: .23rem .3rem;
}
.C1nqS {
    font-size: .26rem;
}
._21sck {
    padding-right: .2rem;
}
</style><style type="text/css" id="s1108-0">._3ZwO8 {
    padding: .28rem .25rem;
    font-size: 0;
    position: relative;
    left: .3rem;
}
._1Xr-G {
    display: inline-block;
    padding: 0 .2rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .3rem;
    margin-right: .22rem;
    text-align: center;
    min-width: .8rem;
}
</style><style type="text/css" id="s1111-0">._3y0x3 {
    font-size: 0;
    z-index: 10;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
._3pBwr {
    width: auto;
    height: auto;
}
</style><style type="text/css" id="s1120-0">.I0G0q {
    padding: 0 .22rem;
    font-size: 0;
}
.xWQJM {
    height: .8rem;
    line-height: .8rem;
    position: relative;
}
.yKsl3 {
    float: left;
    font-size: .34rem;
}
._1akJv {
    overflow: hidden;
    margin-top: .2rem;
}
._1g1j7 {
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
}
._3j3Oz {
    display: block;
}
._39wWg {
    width: 1rem;
    height: 1rem;
}
._1AXFd {
    font-size: .3rem;
    line-height: .8rem;
    width: 1.5rem;
    display: block;
}
._2fahS {
    display: inline-block;
    height: .38rem;
    line-height: .38rem;
    width: 1rem;
    text-align: center;
    border-radius: .04rem;
    font-size: .26rem;
}
</style><style type="text/css" id="s1123-0">._3S1o1 {
    padding: 0 .22rem;
    font-size: 0;
}
._394_E {
    height: .8rem;
    line-height: .8rem;
    position: relative;
}
._3XEFP {
    float: left;
    font-size: .34rem;
}
._32IQK {
    overflow: hidden;
    margin-top: .2rem;
}
.vinFc {
    width: 1.8rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
}
._3-JBM {
    display: block;
    position: relative;
    width: 1rem;
    margin: 0 auto;
}
._2osjz {
    font-size: .2rem;
    width: .43rem;
    height: .25rem;
    line-height: .25rem;
    border-radius: 0 .2rem .2rem 0;
}
._2a3a2 {
    background: #f5605c;
}
._2sd0y {
    background: #f57900;
}
.PkKBw {
    background: #ffb855;
}
._1WIjh {
    width: 1rem;
    height: 1rem;
}
._16zEx {
    font-size: .3rem;
    line-height: .8rem;
    width: 1.5rem;
    display: block;
}
._18xQC {
    display: inline-block;
    height: .38rem;
    line-height: .38rem;
    width: 1rem;
    text-align: center;
    border-radius: .04rem;
    font-size: .26rem;
}
._1S5Nd {
    font-size: .28rem;
    top: 0;
}
._2lklK {
    display: inline-block;
    text-align: center;
    font-size: .3rem;
}
</style><style type="text/css" id="s1114-0">._2Pn8x {
    padding: .22rem .15rem;
}
._3tpK9 {
    display: block;
    -webkit-box-flex: 1;
    font-size: .32rem;
    line-height: .65rem;
    height: .65rem;
    margin: 0 .15rem;
}
</style><style type="text/css" id="s1125-0">._3EsNx {
    width: 5rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-left: -2.5rem;
    z-index: 200;
    left: 50%;
}
._1Urci {
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .8);
}
._3zp9_ {
    display: block;
    width: .9rem;
    height: .9rem;
    margin-left: .2rem;
}
._1i8kF {
    font-size: .24rem;
    -webkit-box-flex: 1.0;
    line-height: .3rem;
    margin-left: .2rem;
}
</style><style type="text/css" id="s1118-0">._1MQTY {
    z-index: 10;
    height: 100%;
    width: 100%;
}
._393Bq {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.Jjqp4 {
    font-size: 0;
    width: 100%;
    z-index: 100;
}
._12Zpk {
    padding: 0 .24rem .24rem .24rem;
    max-height: 6.5rem;
    overflow: auto;
    text-align: center;
}
._3wi8_ {
    display: inline-block;
    width: 95%;
    height: 5.24rem;
}
.XHKRE {
    display: block;
    width: 100%;
    text-align: center;
    line-height: .7rem;
    height: .7rem;
    font-size: .4rem;
}
._2kQRg {
    display: block;
    border-radius: 100% 100% 0 0;
    height: 1.35rem;
    width: 120%;
    margin-left: -10%;
    text-align: center;
    padding-top: 1.25rem;
    margin-bottom: -.5rem;
}
.Hr7DR {
    position: absolute;
    border-radius: 100% 100% 0 0;
    height: 1.2rem;
    width: 110%;
    margin-left: -5%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
}
._6yKzV {
    right: 0;
    top: .6rem;
    margin: 0 auto;
    display: block;
    width: 1.5rem;
}
.gdfsP {
    width: 1.5rem;
    height: 1.5rem;
}
._1gLt- {
    position: absolute;
    width: 1.1rem;
    left: .8rem;
    top: .8rem;
}
._2UWBv {
    font-size: .34rem;
    line-height: .4rem;
    max-width: 300px;
    margin: 0 auto;
}
.sLYtg {
    font-size: .28rem;
    line-height: .4rem;
}
._15zo8 {
    display: block;
    width: .5rem;
    text-align: center;
    line-height: .5rem;
    height: .5rem;
    font-size: .3rem;
    margin: 0 auto .6rem;
    border-radius: 100%;
}
</style></head>
    <body>
        <div id="root"><div data-reactroot="" data-reactid="1" data-react-checksum="1114783189"><div data-reactid="2"><div style="background:#f5f5f5;" data-reactid="3"><div data-reactid="4"><div class="_1C5Nf"><div class="color-bg-blue _1hjI4 color-white flex-box-h p_fixed_lt"><a class="iconfont HnqaJ" href="javascript:history.back();"></a><div class="_3lgn4"><a class="_26UlS color-white" href="">听听浏览器</a><a class="_26UlS color-white" href="">云中语录</a></div></div></div><div class="_2DX3x"><img class="_1J4VC" src="./mltts_files/timg" alt="乐听听书-应用图标"><div class="_3NrH1"></div><div class="NjueC"><div class="flex-box-c"><h1 class="_1_4ji">乐听听书</h1><div class="_3_rdb flex-box-h"></div></div><div class="_3CBMc flex-box-c"><div class="margin-20"><!-- react-text: 1010 -->1万<!-- /react-text --><!-- react-text: 1011 -->下载<!-- /react-text --></div><div class="margin-20">5.81MB</div><div class="_3PjRQ _2Yzsw margin-20 score_star"><div class="_2Yzsw
                                                            score_orange_star p_absolute_lt" style="width: 100%;"></div></div></div><div class="zTPvj color-green"><span class="_2-WiL">安全</span><span class="_2-WiL">无广告</span><span class="_2-WiL">MTC认证</span></div></div><img class="kF2GU
                            undefined" src="./mltts_files/basicInfo.brand.defaultbg.v2.jpg"><div class="Go0n0"></div></div><div class="ol6bb  flex-box-h color-bg-white"><img class="_1gG_g" src="./mltts_files/timg"><div class="_1l0hA"><div class="_1quWg">乐听听书</div><div class="Fo0la">5.81MB</div></div><div class="O6qwl color-white color-bg-blue"></div></div><div class="color-bg-white"><div class="_3GcjN flex-box-h border-bottom-dotted"><div class="_3PwbX flex-box-h
                                    color-bg-blue btn
                                    
                                    _3ZVgQ"><div class="_2BUdk
                                        
                                        color-white" onclick="document.getElementById('idd').click();"><a id="idd" href="ltts_files/release-lsebook-2.0.apk">下载</a></div></div></div></div><div class="margin-bottom-20"></div><div></div><div class="margin-bottom-20"></div><div class="margin-bottom-20"></div><div class="_3RAfw border-bottom-dotted color-bg-white
                        show"><div class="_18FUT jhUdx"><div class="iA0ny"><div class="slick-initialized slick-slider"><div class="slick-list"><div class="slick-track" style="opacity: 1; transform: translate3d(-9px, 0px, 0px); width: 4315.73px;"><img class="slick-slide slick-active bYQpx" alt="乐听听书-应用截图" src="./mltts_files/timg(1)" data-index="0" tabindex="-1" style="outline: none;"><img class="slick-slide slick-active bYQpx" alt="乐听听书-应用截图" src="./mltts_files/timg(2)" data-index="1" tabindex="-1" style="outline: none;"><img class="slick-slide slick-active bYQpx" alt="乐听听书-应用截图" src="./mltts_files/timg(3)" data-index="2" tabindex="-1" style="outline: none;"><img class="slick-slide bYQpx" alt="乐听听书-应用截图" src="./mltts_files/timg(4)" data-index="3" tabindex="-1" style="outline: none;"></div></div></div></div></div><div class=" "><div class=""><p class="LgWy6 color-gray-333">朗读功能：大文件秒开，流畅朗读。点击屏幕上部进入上一页，点击屏幕下部进入下一页。<br>书签功能：点击书籍名称进入；点击时间进度，显示重命名、删除等功能。<br>其他功能：可以选择复制文本、跳转、睡眠、查找文字等。<br>高度定制：可以定制背景图片、音乐、字体等，可以设置需要忽略的语句。<br>２.0<br>解决高版本上从文件管理器打开文件失败问题．<br>忽略朗读语句添加正则表达式功能<br>睡眠朗读停止时，音量渐渐降低至停止．<br>添加书签功能，记录多个朗读位置．<br>其他bugfix<br>1.8:<br>添加自定义朗读忽略或替换<br>解决来电自动朗读问题<br>1.7：<br>修复后台长时间朗读小概率自动停止问题；修复其他bug。<br>版本1.5：<br>1.来电时自动停止朗读。<br>2.修复偶尔切换书本时无法朗读问题。<br>3.修复连接断句偶尔crash问题。<br>4.修复其他bug<br>更新应用名称<br>1.6<br>1.适配安卓5.1版本<br>2.固定背景图片，提升体验.</p></div><div class="_3qGi3 color-gray-bbb iconfont"><i class="icon-three iconfont"></i></div></div><div class="_1XARX color-gray-999"><div><!-- react-text: 1061 -->版本：<!-- /react-text --><!-- react-text: 1062 -->2.0<!-- /react-text --><!-- react-text: 1063 -->版（<!-- /react-text --><!-- react-text: 1064 -->开放平台<!-- /react-text --><!-- react-text: 1065 -->）<!-- /react-text --></div><div><!-- react-text: 1067 -->更新：<!-- /react-text --><!-- react-text: 1068 -->2017-10-19<!-- /react-text --><!-- react-text: 1069 -->&nbsp;&nbsp;&nbsp;&nbsp;<!-- /react-text --><a class="color-gray-999" href="http://shouji.baidu.com/software/9544839.html">PC版详情</a></div><div class="C1nqS color-green"><span class="_21sck">安全</span><span class="_21sck">无广告</span><span class="_21sck">MTC认证</span></div></div></div><div class="color-bg-white margin-bottom-20 border-bottom-solid"><div class="_3ZwO8
                            show"><div class="slick-initialized slick-slider slider variable-width"><div class="slick-list"><div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 3771.56px;"><a href="https://mobile.baidu.com/search?w=%E5%90%AC%E4%B9%A6" class="slick-slide slick-active _1Xr-G color-green border-color-gray" data-index="0" tabindex="-1" style="outline: none;">听书</a></div></div></div></div></div><div class="_3y0x3 bigScreenshot blue-dots p_fixed_lt color-bg-black
                        hide"><div class="slick-initialized slick-slider slider variable-width"><div class="slick-list"><div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px);"><img class="slick-slide slick-active _3pBwr" src="./mltts_files/timg(5)" data-index="0" tabindex="-1" style="outline: none; width: 0px;"><img class="slick-slide _3pBwr" src="./mltts_files/timg(6)" data-index="1" tabindex="-1" style="outline: none; width: 0px;"><img class="slick-slide _3pBwr" src="./mltts_files/timg(7)" data-index="2" tabindex="-1" style="outline: none; width: 0px;"><img class="slick-slide _3pBwr" src="./mltts_files/timg(8)" data-index="3" tabindex="-1" style="outline: none; width: 0px;"></div></div><ul class="slick-dots" style="display: block;"><li class="slick-active"><button>1</button></li><li class=""><button>2</button></li><li class=""><button>3</button></li><li class=""><button>4</button></li></ul></div></div><div class="I0G0q card_style_normal  guessYouLike margin-bottom-20
                        show"><div class="xWQJM"><h4 class="yKsl3 color-gray-333">猜你喜欢</h4></div><div class="_1akJv"><div class="blue-dots"><div class="slick-initialized slick-slider"><div class="slick-list"><div class="slick-track" style="opacity: 1; transform: translate3d(-1268.47px, 0px, 0px); width: 7293.7px;"><div class="slick-slide _1g1j7" data-index="-4" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=8797925&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+13@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.zhangyue.tingreader@packageid+742096@docid+8797925@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(9)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=8797925&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+13@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.zhangyue.tingreader@packageid+742096@docid+8797925@rec_type+relateapp">掌阅听书</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="-3" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=5347021&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+14@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.ting.tsdd@packageid+949861@docid+5347021@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(10)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=5347021&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+14@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.ting.tsdd@packageid+949861@docid+5347021@rec_type+relateapp">听书电台</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="-2" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=7895344&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+15@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.jie.listen.book@packageid+1398649@docid+7895344@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(11)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=7895344&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+15@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.jie.listen.book@packageid+1398649@docid+7895344@rec_type+relateapp">书城听书FM</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="-1" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=7560592&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+16@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.hxb.poetry@packageid+26892052@docid+7560592@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(12)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=7560592&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+16@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.hxb.poetry@packageid+26892052@docid+7560592@rec_type+relateapp">唐诗宋词</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="0" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22395108&amp;advitem=source+MBUADC@recpid+1492025@pos+1@mode+CPD@flow+REC@trans+0w1CqfYa0FslJ6HM6yDKu0C00Af200a21KCRsR2sm8i3NfZgZjD0000000k-000wFs0000c00000K_6008XKmfZZBJb00faNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.tiange.multiwater@packageid+3218647@docid+22395108@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(13)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22395108&amp;advitem=source+MBUADC@recpid+1492025@pos+1@mode+CPD@flow+REC@trans+0w1CqfYa0FslJ6HM6yDKu0C00Af200a21KCRsR2sm8i3NfZgZjD0000000k-000wFs0000c00000K_6008XKmfZZBJb00faNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.tiange.multiwater@packageid+3218647@docid+22395108@rec_type+relateapp">水多直播</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="1" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@recpid+1492025@pos+2@mode+CPD@flow+REC@trans+0HtLukDa0cWREsH-8LTKC0t0020500a21KCRsR2sm-F5y67lLj0000000APh000wFs0000c00000K_6008yeIsZZBJb006aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.same.wawaji@packageid+3202170@docid+22695762@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(14)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@recpid+1492025@pos+2@mode+CPD@flow+REC@trans+0HtLukDa0cWREsH-8LTKC0t0020500a21KCRsR2sm-F5y67lLj0000000APh000wFs0000c00000K_6008yeIsZZBJb006aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.same.wawaji@packageid+3202170@docid+22695762@rec_type+relateapp">天天抓娃娃</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="2" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22578923&amp;advitem=source+MBUADC@recpid+1492025@pos+3@mode+CPD@flow+REC@trans+0IeMl8TK0ad_T6fFyy3KL0R00Ps700a21KCRsR2sm88Ay0A-WKR000000F6j000wFs0000c00000K_6006-uU6ZZBJb00saNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.pingan.pinganwifi@packageid+1412261@docid+22578923@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(15)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22578923&amp;advitem=source+MBUADC@recpid+1492025@pos+3@mode+CPD@flow+REC@trans+0IeMl8TK0ad_T6fFyy3KL0R00Ps700a21KCRsR2sm88Ay0A-WKR000000F6j000wFs0000c00000K_6006-uU6ZZBJb00saNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.pingan.pinganwifi@packageid+1412261@docid+22578923@rec_type+relateapp">平安WiFi</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="3" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22054658&amp;advitem=source+DUOKU@recpid+1492025@pos+4@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:4:@searchid+7111257208651435146@package+com.netease.my.baidu@packageid+1426714@docid+22054658@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(16)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22054658&amp;advitem=source+DUOKU@recpid+1492025@pos+4@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:4:@searchid+7111257208651435146@package+com.netease.my.baidu@packageid+1426714@docid+22054658@rec_type+relateapp">梦幻西游</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="4" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22285690&amp;advitem=source+MBUADC@recpid+1492025@pos+5@mode+CPD@flow+REC@trans+0fEZnOfK0Pecb0fbxZDKq0_005fQ00a21KCRsR2smMCPN0DIrKR000000ZYH000wFs0000c00000K_600BwtTfZZBJb0KfaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.lalamove.huolala.client@packageid+1390621@docid+22285690@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(17)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22285690&amp;advitem=source+MBUADC@recpid+1492025@pos+5@mode+CPD@flow+REC@trans+0fEZnOfK0Pecb0fbxZDKq0_005fQ00a21KCRsR2smMCPN0DIrKR000000ZYH000wFs0000c00000K_600BwtTfZZBJb0KfaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.lalamove.huolala.client@packageid+1390621@docid+22285690@rec_type+relateapp">货拉拉-搬家拉货</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="5" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22707106&amp;advitem=source+MBUADC@recpid+1492025@pos+6@mode+CPD@flow+REC@trans+0If1-wDa02POEsHE9MDKY0T00P0Z00a21KCRsR2smJFey6Ai-kb000000Aqa000wFs0000c00000K_6008SATfZZBJb0K6aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+tv.xiaoka.live@packageid+1677202@docid+22707106@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(18)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22707106&amp;advitem=source+MBUADC@recpid+1492025@pos+6@mode+CPD@flow+REC@trans+0If1-wDa02POEsHE9MDKY0T00P0Z00a21KCRsR2smJFey6Ai-kb000000Aqa000wFs0000c00000K_6008SATfZZBJb0K6aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+tv.xiaoka.live@packageid+1677202@docid+22707106@rec_type+relateapp">一直播</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="6" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22632710&amp;advitem=source+MBUADC@recpid+1492025@pos+7@mode+CPD@flow+REC@trans+0Rz9f_cK05brRswIk7tK80_00Q6Q00a21KCRsR2sm6uuyfAhd9R0000000Gn000wFs0000c00000K_600-LDgsZZBJb0KsaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.uxin.usedcar@packageid+1431206@docid+22632710@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(19)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22632710&amp;advitem=source+MBUADC@recpid+1492025@pos+7@mode+CPD@flow+REC@trans+0Rz9f_cK05brRswIk7tK80_00Q6Q00a21KCRsR2sm6uuyfAhd9R0000000Gn000wFs0000c00000K_600-LDgsZZBJb0KsaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.uxin.usedcar@packageid+1431206@docid+22632710@rec_type+relateapp">优信二手车</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="7" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22637225&amp;advitem=source+MBUADC@recpid+1492025@pos+8@mode+CPD@flow+REC@trans+0giJkkca0Kwzs6w6MZTK-6C00Fm200a21KCRsR2smJ-JyfAWjKR000000cmK000wFs0000c00000K_600haTIsZZBJb0a0aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.didapinche.booking@packageid+1379491@docid+22637225@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(20)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22637225&amp;advitem=source+MBUADC@recpid+1492025@pos+8@mode+CPD@flow+REC@trans+0giJkkca0Kwzs6w6MZTK-6C00Fm200a21KCRsR2smJ-JyfAWjKR000000cmK000wFs0000c00000K_600haTIsZZBJb0a0aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.didapinche.booking@packageid+1379491@docid+22637225@rec_type+relateapp">嘀嗒拼车</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="8" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22582668&amp;advitem=source+DUOKU@recpid+1492025@pos+9@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:9:@searchid+7111257208651435146@package+com.mj.aiyouqd.baidu@packageid+3212296@docid+22582668@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(21)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22582668&amp;advitem=source+DUOKU@recpid+1492025@pos+9@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:9:@searchid+7111257208651435146@package+com.mj.aiyouqd.baidu@packageid+3212296@docid+22582668@rec_type+relateapp">超神名将传</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="9" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22665840&amp;advitem=source+MBUADC@recpid+1492025@pos+11@mode+CPD@flow+REC@trans+0RyCaPTK0PBSg0f-kvTK90n00cfj00a21KCRsR2smMjpyfZUP0f000000rCK000wFs0000c00000K_600BgZusZZBJb0asaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.yiche.autoeasy@packageid+275675@docid+22665840@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(22)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22665840&amp;advitem=source+MBUADC@recpid+1492025@pos+11@mode+CPD@flow+REC@trans+0RyCaPTK0PBSg0f-kvTK90n00cfj00a21KCRsR2smMjpyfZUP0f000000rCK000wFs0000c00000K_600BgZusZZBJb0asaNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.yiche.autoeasy@packageid+275675@docid+22665840@rec_type+relateapp">易车</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="10" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=5978127&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+12@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.audiocn.main@packageid+1221013892@docid+5978127@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(23)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=5978127&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+12@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.audiocn.main@packageid+1221013892@docid+5978127@rec_type+relateapp">天籁听书</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="11" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=8797925&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+13@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.zhangyue.tingreader@packageid+742096@docid+8797925@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(9)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=8797925&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+13@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.zhangyue.tingreader@packageid+742096@docid+8797925@rec_type+relateapp">掌阅听书</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="12" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=5347021&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+14@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.ting.tsdd@packageid+949861@docid+5347021@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(10)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=5347021&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+14@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.ting.tsdd@packageid+949861@docid+5347021@rec_type+relateapp">听书电台</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="13" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=7895344&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+15@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.jie.listen.book@packageid+1398649@docid+7895344@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(11)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=7895344&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+15@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.jie.listen.book@packageid+1398649@docid+7895344@rec_type+relateapp">书城听书FM</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide _1g1j7" data-index="14" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=7560592&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+16@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.hxb.poetry@packageid+26892052@docid+7560592@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(12)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=7560592&amp;advitem=source+DIS_NATURAL@recpid+1492025@pos+16@mode+@flow+REC@trans+@searchid+7111257208651435146@package+com.hxb.poetry@packageid+26892052@docid+7560592@rec_type+relateapp">唐诗宋词</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="15" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22395108&amp;advitem=source+MBUADC@recpid+1492025@pos+1@mode+CPD@flow+REC@trans+0w1CqfYa0FslJ6HM6yDKu0C00Af200a21KCRsR2sm8i3NfZgZjD0000000k-000wFs0000c00000K_6008XKmfZZBJb00faNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.tiange.multiwater@packageid+3218647@docid+22395108@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(13)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22395108&amp;advitem=source+MBUADC@recpid+1492025@pos+1@mode+CPD@flow+REC@trans+0w1CqfYa0FslJ6HM6yDKu0C00Af200a21KCRsR2sm8i3NfZgZjD0000000k-000wFs0000c00000K_6008XKmfZZBJb00faNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.tiange.multiwater@packageid+3218647@docid+22395108@rec_type+relateapp">水多直播</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="16" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@recpid+1492025@pos+2@mode+CPD@flow+REC@trans+0HtLukDa0cWREsH-8LTKC0t0020500a21KCRsR2sm-F5y67lLj0000000APh000wFs0000c00000K_6008yeIsZZBJb006aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.same.wawaji@packageid+3202170@docid+22695762@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(14)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@recpid+1492025@pos+2@mode+CPD@flow+REC@trans+0HtLukDa0cWREsH-8LTKC0t0020500a21KCRsR2sm-F5y67lLj0000000APh000wFs0000c00000K_6008yeIsZZBJb006aNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.same.wawaji@packageid+3202170@docid+22695762@rec_type+relateapp">天天抓娃娃</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="17" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22578923&amp;advitem=source+MBUADC@recpid+1492025@pos+3@mode+CPD@flow+REC@trans+0IeMl8TK0ad_T6fFyy3KL0R00Ps700a21KCRsR2sm88Ay0A-WKR000000F6j000wFs0000c00000K_6006-uU6ZZBJb00saNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.pingan.pinganwifi@packageid+1412261@docid+22578923@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(15)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22578923&amp;advitem=source+MBUADC@recpid+1492025@pos+3@mode+CPD@flow+REC@trans+0IeMl8TK0ad_T6fFyy3KL0R00Ps700a21KCRsR2sm88Ay0A-WKR000000F6j000wFs0000c00000K_6006-uU6ZZBJb00saNrwFp0f0000D0000@bid+1@searchid+7111257208651435146@package+com.pingan.pinganwifi@packageid+1412261@docid+22578923@rec_type+relateapp">平安WiFi</a><div class="_2fahS border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active _1g1j7" data-index="18" style="width: 317.117px;"><a class="_3j3Oz" href="https://mobile.baidu.com/item?docid=22054658&amp;advitem=source+DUOKU@recpid+1492025@pos+4@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:4:@searchid+7111257208651435146@package+com.netease.my.baidu@packageid+1426714@docid+22054658@rec_type+relateapp"><img class="_39wWg" src="./mltts_files/timg(16)"></a><a class="_1AXFd color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22054658&amp;advitem=source+DUOKU@recpid+1492025@pos+4@mode+CPS@flow+REC@trans+@strategy+game_ad:CF_DF:4:@searchid+7111257208651435146@package+com.netease.my.baidu@packageid+1426714@docid+22054658@rec_type+relateapp">梦幻西游</a><div class="_2fahS border-solid-1 color-green">下载</div></div></div></div><ul class="slick-dots" style="display: block;"><li class="slick-active"><button>1</button></li><li class=""><button>2</button></li><li class=""><button>3</button></li><li class=""><button>4</button></li></ul></div></div></div></div><div class="_3S1o1 guessYouLike color-bg-white border-bottom-solid border-top-solid
                        show"><div class="_394_E"><h4 class="_3XEFP color-gray-333"><!-- react-text: 1215 -->生活实用<!-- /react-text --><!-- react-text: 1216 -->排行<!-- /react-text --></h4><a href="https://mobile.baidu.com/list/soft/board_504_102/504" class="_1S5Nd color-gray-999 p_absolute_rt"><!-- react-text: 1218 -->更多<!-- /react-text --><i class="_2lklK icon-more iconfont"></i></a></div><div class="_32IQK"><div class="blue-dots"><div class="slick-initialized slick-slider"><div class="slick-list"><div class="slick-track" style="opacity: 1; transform: translate3d(-1268.47px, 0px, 0px); width: 6342.34px;"><div class="slick-slide vinFc" data-index="-4" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@boardid+159@pos+9@flow+BOARD@trans+0XadukDa0cWREsH-8LTKC0t0020500Kk28Y30lF8RNF5y67lLj0000000APh000wFs000ac00000K_6008yeIsAx0000afaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+4000@oriboardid+159@oripos+9@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.same.wawaji@packageid+3202170@docid+22695762"><img class="_1WIjh" src="./mltts_files/timg(14)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">9</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@boardid+159@pos+9@flow+BOARD@trans+0XadukDa0cWREsH-8LTKC0t0020500Kk28Y30lF8RNF5y67lLj0000000APh000wFs000ac00000K_6008yeIsAx0000afaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+4000@oriboardid+159@oripos+9@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.same.wawaji@packageid+3202170@docid+22695762">天天抓娃娃</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="-3" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22676351&amp;advitem=source+DIS_NATURAL@boardid+159@pos+10@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+10@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.youloft.calendar@packageid+3907568145@docid+22676351"><img class="_1WIjh" src="./mltts_files/timg(24)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">10</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22676351&amp;advitem=source+DIS_NATURAL@boardid+159@pos+10@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+10@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.youloft.calendar@packageid+3907568145@docid+22676351">万年历</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="-2" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22635142&amp;advitem=source+MBUADC@boardid+159@pos+11@flow+BOARD@trans+0ukE02YK0AEwf0f6J-tKR9s007cT00Kk28Y30lF8RmuByfDFqkf000000Ff5000wFs000ac00000K_600BaJgsAx0000asaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+7250@oriboardid+159@oripos+11@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.financial.quantgroup@packageid+1373961@docid+22635142"><img class="_1WIjh" src="./mltts_files/timg(25)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">11</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22635142&amp;advitem=source+MBUADC@boardid+159@pos+11@flow+BOARD@trans+0ukE02YK0AEwf0f6J-tKR9s007cT00Kk28Y30lF8RmuByfDFqkf000000Ff5000wFs000ac00000K_600BaJgsAx0000asaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+7250@oriboardid+159@oripos+11@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.financial.quantgroup@packageid+1373961@docid+22635142">信用钱包</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="-1" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22678351&amp;advitem=source+NATURAL@execution+NONE@bid+0@sample+adv@boardid+159@pos+12@searchid+5867805499234003569@package+sina.mobile.tianqitong@packageid+3025715978@docid+22678351"><img class="_1WIjh" src="./mltts_files/timg(26)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">12</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22678351&amp;advitem=source+NATURAL@execution+NONE@bid+0@sample+adv@boardid+159@pos+12@searchid+5867805499234003569@package+sina.mobile.tianqitong@packageid+3025715978@docid+22678351">天气通</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="0" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22668813&amp;advitem=source+MBUADC@boardid+159@pos+1@flow+BOARD@trans+0yMPDrfK0PnMX0i_JA_KxKR00ZsN00Kk28Y30lF8RfLhyfAVGkn000000Dwc000wFs000ac00000K_600JzCpsAx00000faNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+5500@oriboardid+159@oripos+1@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.wuba.huoyun@packageid+1288109@docid+22668813"><img class="_1WIjh" src="./mltts_files/timg(27)"><div class="_2osjz _2a3a2
                                                        p_absolute_lt color-bg-gray-l color-white">1</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22668813&amp;advitem=source+MBUADC@boardid+159@pos+1@flow+BOARD@trans+0yMPDrfK0PnMX0i_JA_KxKR00ZsN00Kk28Y30lF8RfLhyfAVGkn000000Dwc000wFs000ac00000K_600JzCpsAx00000faNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+5500@oriboardid+159@oripos+1@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.wuba.huoyun@packageid+1288109@docid+22668813">58速运</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="1" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22714476&amp;advitem=source+MBUADC@boardid+159@pos+2@flow+BOARD@trans+0RydGsfa0cGyGffHekfKN0_007fQ00Kk28Y30lF8Ryzmy67DYkT000000n_l000wFs000ac00000Kzs0095E70Ax000006aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+2900@oriboardid+159@oripos+2@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.xunmeng.pinduoduo@packageid+1561412@docid+22714476"><img class="_1WIjh" src="./mltts_files/timg(28)"><div class="_2osjz _2sd0y
                                                        p_absolute_lt color-bg-gray-l color-white">2</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22714476&amp;advitem=source+MBUADC@boardid+159@pos+2@flow+BOARD@trans+0RydGsfa0cGyGffHekfKN0_007fQ00Kk28Y30lF8Ryzmy67DYkT000000n_l000wFs000ac00000Kzs0095E70Ax000006aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+2900@oriboardid+159@oripos+2@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.xunmeng.pinduoduo@packageid+1561412@docid+22714476">拼多多</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="2" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22695148&amp;advitem=source+OPSHL@boardid+159@pos+3@flow+BOARD@trans+1017191e|8c71d6367dc1f7a95488ccff97c2f37e@global_optim+1@mode+CPD@oriboardid+159@oripos+3@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.blu.ebook@packageid+2139724@docid+22695148"><img class="_1WIjh" src="./mltts_files/timg(29)"><div class="_2osjz PkKBw
                                                        p_absolute_lt color-bg-gray-l color-white">3</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695148&amp;advitem=source+OPSHL@boardid+159@pos+3@flow+BOARD@trans+1017191e|8c71d6367dc1f7a95488ccff97c2f37e@global_optim+1@mode+CPD@oriboardid+159@oripos+3@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.blu.ebook@packageid+2139724@docid+22695148">书袋免费小说</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="3" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22708992&amp;advitem=source+MBUADC@boardid+159@pos+4@flow+BOARD@trans+0giuv2sK0jahf0wMU7tKv0300P6r00Kk28Y30lF8Rfajy6DiD9f000000Aca000wFs000ac00000K_600hI_gsAx0000K0aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3800@oriboardid+159@oripos+4@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.pingan.papd@packageid+1315346@docid+22708992"><img class="_1WIjh" src="./mltts_files/timg(30)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">4</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22708992&amp;advitem=source+MBUADC@boardid+159@pos+4@flow+BOARD@trans+0giuv2sK0jahf0wMU7tKv0300P6r00Kk28Y30lF8Rfajy6DiD9f000000Aca000wFs000ac00000K_600hI_gsAx0000K0aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3800@oriboardid+159@oripos+4@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.pingan.papd@packageid+1315346@docid+22708992">平安好医生</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="4" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22667043&amp;advitem=source+MBUADC@boardid+159@pos+5@flow+BOARD@trans+0UHT-6ca0ZERCfHP0MDKW0t00cs500Kk28Y30lF8Ri5xyfZoS9t000000P7U000wFs000ac00000K_600_YaTfAx0000KfaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3980@oriboardid+159@oripos+5@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.yeling.jrkd@packageid+2095851@docid+22667043"><img class="_1WIjh" src="./mltts_files/timg(31)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">5</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22667043&amp;advitem=source+MBUADC@boardid+159@pos+5@flow+BOARD@trans+0UHT-6ca0ZERCfHP0MDKW0t00cs500Kk28Y30lF8Ri5xyfZoS9t000000P7U000wFs000ac00000K_600_YaTfAx0000KfaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3980@oriboardid+159@oripos+5@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.yeling.jrkd@packageid+2095851@docid+22667043">趣闻赚</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="5" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22720758&amp;advitem=source+DIS_NATURAL@boardid+159@pos+6@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+6@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.moji.mjweather@packageid+3726357480@docid+22720758"><img class="_1WIjh" src="./mltts_files/timg(32)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">6</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22720758&amp;advitem=source+DIS_NATURAL@boardid+159@pos+6@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+6@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.moji.mjweather@packageid+3726357480@docid+22720758">墨迹天气</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="6" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22722357&amp;advitem=source+MBUADC@boardid+159@pos+7@flow+BOARD@trans+0yiYTJYK0nKcf0Haz-tKy0c0076a00Kk28Y30lF8RHyLy6DJ09n000000rcK000wFs000ac00000K_600_Q2gsAx0000KsaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+600@oriboardid+159@oripos+7@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.haojiazhang.activity@packageid+1245738@docid+22722357"><img class="_1WIjh" src="./mltts_files/timg(33)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">7</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22722357&amp;advitem=source+MBUADC@boardid+159@pos+7@flow+BOARD@trans+0yiYTJYK0nKcf0Haz-tKy0c0076a00Kk28Y30lF8RHyLy6DJ09n000000rcK000wFs000ac00000K_600_Q2gsAx0000KsaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+600@oriboardid+159@oripos+7@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.haojiazhang.activity@packageid+1245738@docid+22722357">小学宝</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="7" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22707158&amp;advitem=source+DIS_NATURAL@boardid+159@pos+8@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+8@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.baidu.searchbox.lite@packageid+2146793@docid+22707158"><img class="_1WIjh" src="./mltts_files/timg(34)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">8</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22707158&amp;advitem=source+DIS_NATURAL@boardid+159@pos+8@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+8@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.baidu.searchbox.lite@packageid+2146793@docid+22707158">手机百度(极速版)</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="8" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@boardid+159@pos+9@flow+BOARD@trans+0XadukDa0cWREsH-8LTKC0t0020500Kk28Y30lF8RNF5y67lLj0000000APh000wFs000ac00000K_6008yeIsAx0000afaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+4000@oriboardid+159@oripos+9@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.same.wawaji@packageid+3202170@docid+22695762"><img class="_1WIjh" src="./mltts_files/timg(14)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">9</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695762&amp;advitem=source+MBUADC@boardid+159@pos+9@flow+BOARD@trans+0XadukDa0cWREsH-8LTKC0t0020500Kk28Y30lF8RNF5y67lLj0000000APh000wFs000ac00000K_6008yeIsAx0000afaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+4000@oriboardid+159@oripos+9@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.same.wawaji@packageid+3202170@docid+22695762">天天抓娃娃</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="9" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22676351&amp;advitem=source+DIS_NATURAL@boardid+159@pos+10@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+10@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.youloft.calendar@packageid+3907568145@docid+22676351"><img class="_1WIjh" src="./mltts_files/timg(24)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">10</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22676351&amp;advitem=source+DIS_NATURAL@boardid+159@pos+10@flow+BOARD@trans+@global_optim+1@oriboardid+159@oripos+10@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.youloft.calendar@packageid+3907568145@docid+22676351">万年历</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="10" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22635142&amp;advitem=source+MBUADC@boardid+159@pos+11@flow+BOARD@trans+0ukE02YK0AEwf0f6J-tKR9s007cT00Kk28Y30lF8RmuByfDFqkf000000Ff5000wFs000ac00000K_600BaJgsAx0000asaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+7250@oriboardid+159@oripos+11@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.financial.quantgroup@packageid+1373961@docid+22635142"><img class="_1WIjh" src="./mltts_files/timg(25)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">11</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22635142&amp;advitem=source+MBUADC@boardid+159@pos+11@flow+BOARD@trans+0ukE02YK0AEwf0f6J-tKR9s007cT00Kk28Y30lF8RmuByfDFqkf000000Ff5000wFs000ac00000K_600BaJgsAx0000asaNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+7250@oriboardid+159@oripos+11@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.financial.quantgroup@packageid+1373961@docid+22635142">信用钱包</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide vinFc" data-index="11" tabindex="-1" style="outline: none; width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22678351&amp;advitem=source+NATURAL@execution+NONE@bid+0@sample+adv@boardid+159@pos+12@searchid+5867805499234003569@package+sina.mobile.tianqitong@packageid+3025715978@docid+22678351"><img class="_1WIjh" src="./mltts_files/timg(26)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">12</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22678351&amp;advitem=source+NATURAL@execution+NONE@bid+0@sample+adv@boardid+159@pos+12@searchid+5867805499234003569@package+sina.mobile.tianqitong@packageid+3025715978@docid+22678351">天气通</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="12" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22668813&amp;advitem=source+MBUADC@boardid+159@pos+1@flow+BOARD@trans+0yMPDrfK0PnMX0i_JA_KxKR00ZsN00Kk28Y30lF8RfLhyfAVGkn000000Dwc000wFs000ac00000K_600JzCpsAx00000faNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+5500@oriboardid+159@oripos+1@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.wuba.huoyun@packageid+1288109@docid+22668813"><img class="_1WIjh" src="./mltts_files/timg(27)"><div class="_2osjz _2a3a2
                                                        p_absolute_lt color-bg-gray-l color-white">1</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22668813&amp;advitem=source+MBUADC@boardid+159@pos+1@flow+BOARD@trans+0yMPDrfK0PnMX0i_JA_KxKR00ZsN00Kk28Y30lF8RfLhyfAVGkn000000Dwc000wFs000ac00000K_600JzCpsAx00000faNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+5500@oriboardid+159@oripos+1@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.wuba.huoyun@packageid+1288109@docid+22668813">58速运</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="13" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22714476&amp;advitem=source+MBUADC@boardid+159@pos+2@flow+BOARD@trans+0RydGsfa0cGyGffHekfKN0_007fQ00Kk28Y30lF8Ryzmy67DYkT000000n_l000wFs000ac00000Kzs0095E70Ax000006aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+2900@oriboardid+159@oripos+2@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.xunmeng.pinduoduo@packageid+1561412@docid+22714476"><img class="_1WIjh" src="./mltts_files/timg(28)"><div class="_2osjz _2sd0y
                                                        p_absolute_lt color-bg-gray-l color-white">2</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22714476&amp;advitem=source+MBUADC@boardid+159@pos+2@flow+BOARD@trans+0RydGsfa0cGyGffHekfKN0_007fQ00Kk28Y30lF8Ryzmy67DYkT000000n_l000wFs000ac00000Kzs0095E70Ax000006aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+2900@oriboardid+159@oripos+2@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.xunmeng.pinduoduo@packageid+1561412@docid+22714476">拼多多</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="14" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22695148&amp;advitem=source+OPSHL@boardid+159@pos+3@flow+BOARD@trans+1017191e|8c71d6367dc1f7a95488ccff97c2f37e@global_optim+1@mode+CPD@oriboardid+159@oripos+3@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.blu.ebook@packageid+2139724@docid+22695148"><img class="_1WIjh" src="./mltts_files/timg(29)"><div class="_2osjz PkKBw
                                                        p_absolute_lt color-bg-gray-l color-white">3</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22695148&amp;advitem=source+OPSHL@boardid+159@pos+3@flow+BOARD@trans+1017191e|8c71d6367dc1f7a95488ccff97c2f37e@global_optim+1@mode+CPD@oriboardid+159@oripos+3@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.blu.ebook@packageid+2139724@docid+22695148">书袋免费小说</a><div class="_18xQC border-solid-1 color-green">下载</div></div><div class="slick-slide slick-active vinFc" data-index="15" style="width: 317.117px;"><a class="_3-JBM" href="https://mobile.baidu.com/item?docid=22708992&amp;advitem=source+MBUADC@boardid+159@pos+4@flow+BOARD@trans+0giuv2sK0jahf0wMU7tKv0300P6r00Kk28Y30lF8Rfajy6DiD9f000000Aca000wFs000ac00000K_600hI_gsAx0000K0aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3800@oriboardid+159@oripos+4@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.pingan.papd@packageid+1315346@docid+22708992"><img class="_1WIjh" src="./mltts_files/timg(30)"><div class="_2osjz undefined
                                                        p_absolute_lt color-bg-gray-l color-white">4</div></a><a class="_16zEx color-gray-333 text_overflow_e" href="https://mobile.baidu.com/item?docid=22708992&amp;advitem=source+MBUADC@boardid+159@pos+4@flow+BOARD@trans+0giuv2sK0jahf0wMU7tKv0300P6r00Kk28Y30lF8Rfajy6DiD9f000000Aca000wFs000ac00000K_600hI_gsAx0000K0aNrwFp0f0000D0000@global_optim+1@mode+CPD@bid+3800@oriboardid+159@oripos+4@exp+exp1@sample+adv@searchid+5867805499234003569@package+com.pingan.papd@packageid+1315346@docid+22708992">平安好医生</a><div class="_18xQC border-solid-1 color-green">下载</div></div></div></div><ul class="slick-dots" style="display: block;"><li class="slick-active"><button>1</button></li><li class=""><button>2</button></li><li class=""><button>3</button></li></ul></div></div></div></div><div class="_2Pn8x flex-box-h
                        "><a class="_3tpK9 color-gray-333 card_style_small" href="https://mobile.baidu.com/item/permission?docid=9544839">应用权限</a></div><div class="_3EsNx hide p_fixed_lt"><div class="_1Urci flex-box-h"><img class="_3zp9_" src="./mltts_files/poptip.png"><div class="_1i8kF color-white"><h3 class="undefined color-yellow">提速50%</h3><p>百度手机助手带你体验极速下载</p></div></div></div><div class="_1MQTY hide p_fixed_lt"><div class="_393Bq"></div></div></div></div></div></div></div>
        <script>
            window.__INITIAL_STATE__ = {"itemPage":{"widgetList":["navigationBar","basicInfo.brand","downloadBar.topFixed","downloadBar.horizontal.multipleButtons","downloadBar.AS.download","tab","comments","adcard","gameActivity","detail","appTag","bigScreenshot","guessYouLike","similarRank","devCard","speedPopup","feedbackFloatingLayer"],"appDoc":{"data":{"docid":"9544839","packageid":"1492025","package":"com.sintech.lsebook","cateid":"504","catename":"生活实用","groupid":"3816198","sname":"乐听听书","icon":"//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b136_136&sec=1511143827&nocache&di=0723c376e9ddad466924ad2be68e30c0&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Fe18ba61ea8d3fd1f5884a71c384e251f95ca5f02.jpg","type":"soft","strDownload":"1万","score":"100","showSize":"5.81MB","shortSize":"5.8M","detailBackground":false,"downloadUrl":"http://m.gdown.baidu.com/eeda494a53a387eead383eb9fea675c1b290711888ac23b5c9964c52474bdecc038f1952cddebbb6e2d070e5dddb0e2c59326d9c5c0a603d6bd7cf05584b6f853eb573c049c0a56f613b4720319cfe8c17a378f1c9de754fc1250aa4f4faf9716892d16dcf8f1d71ae86bae8342338ce66f7f0eb2247b16a4b7bc7e3750b61976fcd7768f0868aba3af7573832906b7a043a5ce3f4f21d3fb8420f96f1a4d67c","downloadInner":"http://m.gdown.baidu.com/4717d1affb5dc3197e652f815665ead594f95dea1fb2ddeef6bf7f9ba71fd242543caa57c5a899d4732dc5afc157902296de17fb774299e9f3b3ec48edf4a5aaae64820827dc50f357958687594339fa75761316b2aed5a3392edff282f0eae082eed9781ecb1abac7bb4ae5c91ad8c352651f73c5d0e6347f015ade270bd39b99e63ef3420e291cd42d675232f418386a9da5c5a376b2ac7f07a5ef06110a6556b69b86c40d3e234b7bc7e3750b61978a1bf51fd2963fb1","downloadOuter":"http://m.gdown.baidu.com/532ae6da95e859ff772f41cdd0e7d9bf2567e783e65c6746fccc4502e2bd33f587cc7eac1e5d17cad04e7b865198aa041d8b765976d093cb452f0de4d1f98514a2e47c0d64d0710a5802dd437400de2803394847544e9f120599c2a9ff7085c41128133b96a554a3724d19dfffd47e85813e8204b998c3812093102d7e6c0d3ea9a4080b8ced0100025ff008efe66dd759f9e74d0d666f8948d076b6cc3461bc44da3e9cad9c0ba5de6dd562ed409d9270291e3c9cb9212a8cc7ce37f0cd1210","hidownParam":{"k":"RBFDWcuwgvrQhJ_LvZMiut7ZycF8dCNWdhKyPfYucEVOfzc_OUeCWrodGyhBBF5kWtPWahXHWtnX5Vnxj2Ow1W-pTrgxmcXauzhSvMaceElpDDGxLRPtoHJfcjROcH7NBirSFwHbALyuIDDhplUVpcto1hrQT0EzYULKI9QjFfqcC","p":"U6c0Vor2QmrWZ4WHQ1ovHwsksvNMTBSPU1lD8aUZBv13xevh3e-f28Kv9SIdJ6x3uqUwanDinH8nqNUyteWmonF5oJm3Ufk6osXoiUZ-_6m0gmonEXvNtfyjdZgEzsknXwmNlNOwxTbJEtE_5SepI8vk5D6CwmtXUFZmE9nVqzYTqdAdoQVkRDFMvzJjO2NVgHtpP2mQ3cDnZYv-PsH-YKqj5Yw23c5Yiw2NZg4f3ZncURyWBiiUx3iLA"},"sourcename":"开放平台","changelog":"1.8:<br>添加自定义朗读忽略或替换<br>解决来电自动朗读问题<br>1.7：<br>修复后台长时间朗读小概率自动停止问题；修复其他bug。<br>版本1.5：<br>1.来电时自动停止朗读。<br>2.修复偶尔切换书本时无法朗读问题。<br>3.修复连接断句偶尔crash问题。<br>4.修复其他bug<br>更新应用名称<br>1.6<br>1.适配安卓5.1版本<br>2.固定背景图片，提升体验.","updatetime":"2016-06-19","versionname":"1.8","versioncode":"23","brief":"朗读功能：大文件秒开，流畅朗读。点击屏幕上部进入上一页，点击屏幕下部进入下一页。<br>书签功能：点击书籍名称进入；点击时间进度，显示重命名、删除等功能。<br>其他功能：可以选择复制文本、跳转、睡眠、查找文字等。<br>高度定制：可以定制背景图片、音乐、字体等，可以设置需要忽略的语句。","screenshots":{"screenshotsSmall":["//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b240_360&sec=1511143827&nocache&di=051a040c26bdfd8b01f63cc24f6a08d6&src=http%3A%2F%2Fe.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F9e1f4134970a304e39afa5dcd9c8a786c9175c02.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b240_360&sec=1511143827&nocache&di=736436ce2935ca52e8cbfc8fc7f818b6&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F0359252dd42a28348d1c332d53b5c9ea15cebf5a.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b240_360&sec=1511143827&nocache&di=8831aa9a9677a39fc71f9c728275cf11&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff40a304e251f95cacf789790c1177f3e67095202.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b240_360&sec=1511143827&nocache&di=faf880367c094413fc8908e44673a801&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F08600c338744ebf8ab966119d1f9d72a6059a735.jpg"],"screenshotsMiddle":["//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b480_720&sec=1511143827&nocache&di=051a040c26bdfd8b01f63cc24f6a08d6&src=http%3A%2F%2Fe.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F9e1f4134970a304e39afa5dcd9c8a786c9175c02.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b480_720&sec=1511143827&nocache&di=736436ce2935ca52e8cbfc8fc7f818b6&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F0359252dd42a28348d1c332d53b5c9ea15cebf5a.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b480_720&sec=1511143827&nocache&di=8831aa9a9677a39fc71f9c728275cf11&src=http%3A%2F%2Fg.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2Ff40a304e251f95cacf789790c1177f3e67095202.jpg","//timg01.bdimg.com/timg?appsite&imgtype=4&quality=100&size=b480_720&sec=1511143827&nocache&di=faf880367c094413fc8908e44673a801&src=http%3A%2F%2Fb.hiphotos.bdimg.com%2Fwisegame%2Fpic%2Fitem%2F08600c338744ebf8ab966119d1f9d72a6059a735.jpg"]},"permissions":[{"preKey":" 网络通信 ","preVal":" 允许应用程序访问各种网络功能 "},{"preKey":" 存储 ","preVal":" 访问SD卡 "},{"preKey":" 手机通话 ","preVal":" 读取手机状态和身份 "},{"preKey":" 您的位置 ","preVal":" 获取您的地理位置 "},{"preKey":" 系统工具 ","preVal":" 装载和卸载文件系统 "}],"devDisplay":{"dev_id":"117612218","dev_name":"sinoory","dev_score":"0","dev_level":"0"},"gameAppointment":false,"giftInfo":false,"gameActivity":false,"tagConcept":[{"key":"听书","f":"item@impress_tags@1"}],"aladdinFlag":false,"mtcFlag":true,"highQualityFlag":false,"securityFlag":true,"noAdFlag":true,"freeFlag":false,"seoInfo":{"title":"乐听听书_生活实用类乐听听书应用下载_百度手机助手","description":"乐听听书应用，undefined，百度手机助手提供乐听听书应用下载，名称：乐听听书，大小：5.81MB，5，下载量：1万，分类：生活实用","keywords":"乐听听书,乐听听书下载,乐听听书应用下载,乐听听书安卓版","canonical":"//mobile.baidu.com/item?pid=1492025"}},"state":"ready"},"appRec":{"state":"notLoaded","retry":1,"faild":0},"similarRank":{"state":"notLoaded","retry":1,"faild":0},"comment":{"state":"notLoaded","retry":1,"faild":0}},"global":{"css":["._1C5Nf {\n    margin-bottom: .965rem;\n}\n._1hjI4 {\n    width: 100%;\n    z-index: 5;\n    overflow: hidden;\n}\n._26UlS {\n    display: block;\n    -webkit-box-flex: 1.0;\n    text-align: center;\n    font-size: .34rem;\n    line-height: .965rem;\n}\n.HnqaJ {\n    display: block;\n    line-height: .965rem;\n    color: #fff;\n    width: 1rem;\n    text-align: center;\n    font-size: .45rem;\n}\n._3lgn4 {\n    overflow: hidden;\n    -webkit-box-flex: 1.0;\n    display: -webkit-box;\n}\n","._2DX3x {\n    width: 100%;\n    padding-top: 1rem;\n    position: relative;\n    z-index: 1;\n    overflow: hidden;\n}\n._1J4VC {\n    position: relative;\n    top: .75rem;\n    width: 1.5rem;\n    height: 1.5rem;\n    display: block;\n    margin: 0 auto;\n}\n.NjueC {\n    display: block;\n    background: #fff;\n    border-radius: 100% 100% 0 0;\n    height: 1.6rem;\n    width: 110%;\n    margin-left: -5%;\n    text-align: center;\n    padding-top: 1rem;\n}\n._3NrH1 {\n    position: absolute;\n    border-radius: 100% 100% 0 0;\n    height: 1.3rem;\n    width: 110%;\n    margin-left: -5%;\n    z-index: -1;\n    background: rgba(255, 255, 255, 0.2);\n}\n._1_4ji {\n    font-size: .4rem;\n    margin-right: .15rem;\n}\n._3CBMc {\n    font-size: .24rem;\n    line-height: .5rem;\n}\n.kF2GU {\n    position: absolute;\n    width: 100%;\n    z-index: -2;\n    top: 0%;\n}\n.Go0n0 {\n    position: absolute;\n    width: 100%;\n    height: 100%;\n    z-index: -1;\n    top: 0%;\n    background: rgba(0, 0, 0, .05);\n}\n._2Yzsw {\n    display: block;\n    width: 1.2rem;\n    height: .21rem;\n    background-size: 1.2rem .21rem;\n    clear: both;\n    background-repeat: no-repeat;\n}\n\n._3_rdb {\n    white-space: nowrap;\n}\n.R-4kZ {\n    display: block;\n    padding: 1px;\n    border-radius: 1px;\n    border: 1px solid;\n    margin-right: .1rem;\n    font-size: .22rem;\n}\n._3PjRQ {\n    position: relative;\n}\n.zTPvj {\n    font-size: .26rem;\n}\n._2-WiL {\n    padding: 0 .1rem;\n}\n",".ol6bb {\n    width: 100%;\n    position: fixed;\n    top: .96rem;\n    left: 0;\n    z-index: 5;\n    overflow: hidden;\n    box-sizing: border-box;\n    height: 1rem;\n    padding: 0 .2rem;\n    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);\n}\n._1gG_g {\n    display: block;\n    width: .6rem;\n    height: .6rem;\n}\n._1l0hA {\n    -webkit-box-flex: 1;\n    -webkit-flex: 1 1 auto;\n    padding: 0 9px;\n}\n._1quWg {\n    font-size: .26rem;\n}\n.Fo0la {\n    font-size: .2rem;\n    margin-top: .1rem;\n}\n.O6qwl {\n    font-size: .26rem;\n    border-radius: 3px;\n    padding: .15rem;\n}\n","._3GcjN {\n    padding: .2rem 0;\n    width: 6.7rem;\n    margin: 0 auto;\n}\n._3PwbX {\n    font-size: .36rem;\n    -webkit-box-flex: 1.0;\n}\n._1v9vW {\n    font-size: .4rem;\n    width: .75rem;\n    text-align: center;\n}\n._254Hx {\n    border-right: 1px solid #fff;\n    height: .4rem;\n}\n._2BUdk {\n    -webkit-box-flex: 1.0;\n    text-align: center;\n}\n._3Lf5V {\n    margin-right: .2rem;\n}\n._2UNnC {\n    -webkit-box-flex: 2;\n}\n.jRjuR {\n    -webkit-box-flex: 1;\n}\n._3ZVgQ {\n    -webkit-box-flex: 1;\n    width: 50%;\n}\n","._2e8Uo {\n    height: 1rem;\n}\n._1PbJt {\n    display: block;\n    width: .5rem;\n    height: .5rem;\n    margin-left: .25rem;\n}\n._2C8sn {\n    margin-left: .25rem;\n    font-size: .28rem;\n    -webkit-box-flex: 1;\n    -webkit-flex: 1 1 auto;\n}\n._1bsLU {\n    font-size: .28rem;\n    margin-right: .3rem;\n}\n",".KirPj {\n    font-size: .34rem;\n    line-height: .8rem;\n}\n._2nycM {\n    -webkit-box-flex: 1.0;\n    text-align: center;\n}\n.CKvmN {\n    display: inline-block;\n    padding: 0 .2rem;\n    border-bottom-width: 2px;\n}\n",".wpSnQ {\n    font-size: .35rem;\n    padding: .2rem .5rem;\n    background-color: #fff;\n}\n._1g_6c {\n    display: inline-block;\n    background-size: 2.2rem .38rem;\n    height: .38rem;\n    width: 2.2rem;\n}\n\n._3njxr {\n    font-size: 0;\n}\n._3Repm {\n    font-size: .35rem;\n    line-height: 1rem;\n    height: 1rem;\n    padding: 0 .23rem;\n}\n._2GrDy {\n    padding: .3rem .23rem .23rem;\n}\n._2qY3I {\n    width: 1rem;\n}\n._1g3es {\n    -webkit-box-flex: 1.0;\n    font-size: .27rem;\n    margin-left: .23rem;\n}\n._2W49d {\n    display: block;\n    font-size: .32rem;\n    line-height: .6rem;\n    font-weight: 400;\n}\n._2i6Ag {\n    margin-bottom: .2rem;\n}\n.ytv9n {\n    line-height: .4rem;\n    word-break: break-all;\n}\n._3QjuP {\n    margin-right: .2rem;\n}\n","._1UZ0b {\n    padding: .25rem .26rem .25rem .38rem;\n}\n.mC_6q {\n    display: block;\n    width: .5rem;\n    height: .5rem;\n}\n._1E7dw {\n    font-size: .32rem;\n    padding-left: .26rem;\n    margin-right: .4rem;\n    -webkit-box-flex: 1;\n}\n._29-Pf {\n    display: block;\n    font-size: .26rem;\n    width: 1.1rem;\n    height: .45rem;\n    line-height: .45rem;\n    text-align: center;\n    border-radius: .3rem;\n}\n","._3e-BS {\n    padding: 0 .08rem;\n}\n._3RqpV {\n    display: inline-block;\n    width: 5.9rem;\n    padding: .08rem;\n    margin: .08rem;\n}\n.BaO-D {\n    width: 1.58rem;\n    display: block;\n}\n._32gyP {\n    -webkit-box-flex: 1;\n    font-size: .24rem;\n    line-height: 1.4;\n    margin-left: .15rem;\n}\n._3Gq2n {\n    font-size: .28rem;\n    line-height: 1.7;\n}\n.Bd6Jd {\n    font-size: .24rem;\n    line-height: 1.8;\n    padding: 0 .2rem;\n    border-radius: .22rem;\n    position: relative;\n}\n.Bd6Jd::before {\n    content: \"\";\n    position: absolute;\n    top: -10px;\n    right: -10px;\n    left: -10px;\n    bottom: -10px;\n}\n","._3RAfw {\n    border-top: 1px solid #dedede;\n}\n.jhUdx {\n    margin-top: .333rem;\n}\n._8YgG7 {\n    font-size: .32rem;\n    line-height: .9rem;\n    height: .9rem;\n    color: #333;\n    text-align: center;\n    word-break: break-all;\n    padding: 0 .2rem;\n}\n._18FUT {\n    overflow: hidden;\n    margin-left: .3rem;\n}\n.iA0ny {\n    white-space: nowrap;\n    position: relative;\n}\n.bYQpx {\n    display: inline-block;\n    width: 2.1rem;\n    height: 3.5rem;\n    margin: 0 .05rem;\n}\n._3wLzr {\n    margin: .1rem .3rem 0;\n}\n._1fOti {\n    overflow: hidden;\n    height: .84rem;\n}\n._3Y-Hz {\n    overflow: hidden;\n    height: inherit;\n}\n.LgWy6 {\n    font-size: .28rem;\n    line-height: .42rem;\n    word-break: break-all;\n}\n._3qGi3 {\n    font-size: .26rem;\n    text-align: right;\n}\n._1XARX {\n    font-size: .28rem;\n    line-height: .4rem;\n    margin: .23rem .3rem;\n}\n.C1nqS {\n    font-size: .26rem;\n}\n._21sck {\n    padding-right: .2rem;\n}\n","._3ZwO8 {\n    padding: .28rem .25rem;\n    font-size: 0;\n    position: relative;\n    left: .3rem;\n}\n._1Xr-G {\n    display: inline-block;\n    padding: 0 .2rem;\n    height: .5rem;\n    line-height: .5rem;\n    font-size: .3rem;\n    margin-right: .22rem;\n    text-align: center;\n    min-width: .8rem;\n}\n","._3y0x3 {\n    font-size: 0;\n    z-index: 10;\n    height: 100%;\n    padding: 0;\n    margin: 0;\n    overflow: hidden;\n    width: 100%;\n}\n._3pBwr {\n    width: auto;\n    height: auto;\n}\n",".I0G0q {\n    padding: 0 .22rem;\n    font-size: 0;\n}\n.xWQJM {\n    height: .8rem;\n    line-height: .8rem;\n    position: relative;\n}\n.yKsl3 {\n    float: left;\n    font-size: .34rem;\n}\n._1akJv {\n    overflow: hidden;\n    margin-top: .2rem;\n}\n._1g1j7 {\n    width: 1.8rem;\n    text-align: center;\n    display: inline-block;\n    margin-bottom: 1rem;\n}\n._3j3Oz {\n    display: block;\n}\n._39wWg {\n    width: 1rem;\n    height: 1rem;\n}\n._1AXFd {\n    font-size: .3rem;\n    line-height: .8rem;\n    width: 1.5rem;\n    display: block;\n}\n._2fahS {\n    display: inline-block;\n    height: .38rem;\n    line-height: .38rem;\n    width: 1rem;\n    text-align: center;\n    border-radius: .04rem;\n    font-size: .26rem;\n}\n","._3S1o1 {\n    padding: 0 .22rem;\n    font-size: 0;\n}\n._394_E {\n    height: .8rem;\n    line-height: .8rem;\n    position: relative;\n}\n._3XEFP {\n    float: left;\n    font-size: .34rem;\n}\n._32IQK {\n    overflow: hidden;\n    margin-top: .2rem;\n}\n.vinFc {\n    width: 1.8rem;\n    text-align: center;\n    display: inline-block;\n    margin-bottom: 1rem;\n}\n._3-JBM {\n    display: block;\n    position: relative;\n    width: 1rem;\n    margin: 0 auto;\n}\n._2osjz {\n    font-size: .2rem;\n    width: .43rem;\n    height: .25rem;\n    line-height: .25rem;\n    border-radius: 0 .2rem .2rem 0;\n}\n._2a3a2 {\n    background: #f5605c;\n}\n._2sd0y {\n    background: #f57900;\n}\n.PkKBw {\n    background: #ffb855;\n}\n._1WIjh {\n    width: 1rem;\n    height: 1rem;\n}\n._16zEx {\n    font-size: .3rem;\n    line-height: .8rem;\n    width: 1.5rem;\n    display: block;\n}\n._18xQC {\n    display: inline-block;\n    height: .38rem;\n    line-height: .38rem;\n    width: 1rem;\n    text-align: center;\n    border-radius: .04rem;\n    font-size: .26rem;\n}\n._1S5Nd {\n    font-size: .28rem;\n    top: 0;\n}\n._2lklK {\n    display: inline-block;\n    text-align: center;\n    font-size: .3rem;\n}\n","._2Pn8x {\n    padding: .22rem .15rem;\n}\n._3tpK9 {\n    display: block;\n    -webkit-box-flex: 1;\n    font-size: .32rem;\n    line-height: .65rem;\n    height: .65rem;\n    margin: 0 .15rem;\n}\n","._3EsNx {\n    width: 5rem;\n    height: 1.4rem;\n    line-height: 1.4rem;\n    margin-left: -2.5rem;\n    z-index: 200;\n    left: 50%;\n}\n._1Urci {\n    height: 100%;\n    overflow: hidden;\n    border-radius: 3px;\n    background-color: rgba(0, 0, 0, .8);\n}\n._3zp9_ {\n    display: block;\n    width: .9rem;\n    height: .9rem;\n    margin-left: .2rem;\n}\n._1i8kF {\n    font-size: .24rem;\n    -webkit-box-flex: 1.0;\n    line-height: .3rem;\n    margin-left: .2rem;\n}\n","._1MQTY {\n    z-index: 10;\n    height: 100%;\n    width: 100%;\n}\n._393Bq {\n    position: absolute;\n    background: rgba(0, 0, 0, .6);\n    height: 100%;\n    width: 100%;\n    z-index: -1;\n}\n.Jjqp4 {\n    font-size: 0;\n    width: 100%;\n    z-index: 100;\n}\n._12Zpk {\n    padding: 0 .24rem .24rem .24rem;\n    max-height: 6.5rem;\n    overflow: auto;\n    text-align: center;\n}\n._3wi8_ {\n    display: inline-block;\n    width: 95%;\n    height: 5.24rem;\n}\n.XHKRE {\n    display: block;\n    width: 100%;\n    text-align: center;\n    line-height: .7rem;\n    height: .7rem;\n    font-size: .4rem;\n}\n._2kQRg {\n    display: block;\n    border-radius: 100% 100% 0 0;\n    height: 1.35rem;\n    width: 120%;\n    margin-left: -10%;\n    text-align: center;\n    padding-top: 1.25rem;\n    margin-bottom: -.5rem;\n}\n.Hr7DR {\n    position: absolute;\n    border-radius: 100% 100% 0 0;\n    height: 1.2rem;\n    width: 110%;\n    margin-left: -5%;\n    z-index: -1;\n    background: rgba(255, 255, 255, 0.2);\n}\n._6yKzV {\n    right: 0;\n    top: .6rem;\n    margin: 0 auto;\n    display: block;\n    width: 1.5rem;\n}\n.gdfsP {\n    width: 1.5rem;\n    height: 1.5rem;\n}\n._1gLt- {\n    position: absolute;\n    width: 1.1rem;\n    left: .8rem;\n    top: .8rem;\n}\n._2UWBv {\n    font-size: .34rem;\n    line-height: .4rem;\n    max-width: 300px;\n    margin: 0 auto;\n}\n.sLYtg {\n    font-size: .28rem;\n    line-height: .4rem;\n}\n._15zo8 {\n    display: block;\n    width: .5rem;\n    text-align: center;\n    line-height: .5rem;\n    height: .5rem;\n    font-size: .3rem;\n    margin: 0 auto .6rem;\n    border-radius: 100%;\n}\n"],"tracingParams":{"ruleSetID":"default","from":"1010680m"},"adaptInfo":{"supportWebp":true,"isBdbox":false}},"pageControlData":{"highDownChecked":true,"downloadPromptShow":true,"detailFolded":true,"choseTab":"introduction","feedbackFloatingLayerShow":false,"highdownPersuaderShow":false,"speedPopupShow":false,"downloadBarBottomFixedASDownloadShow":true,"bottomFloatDownloadShow":true,"downloadFloatBarShow":false,"bigScreenshotShow":false,"bigScreenshotInitialSlide":0,"showHighdownPersuader":false,"showFeedbackFloatingLayer":true,"hidownFrom":"","asDownFrom":"1018682i","downloadBar.AS.download.from":"1019468l","downloadBar.bottomFixed.AS.download.from":"","downloadBar.bottomFixed.multipleButtons.text":["普通下载","高速下载"],"downloadBar.bottomFixed.multipleButtons.type":["normalDown","highDown"],"downloadBar.bottomFixed.multipleButtons.pattern":["normal","withLogo"],"downloadBar.bottomFixed.multipleButtons.layout":"fixed","downloadBar.bottomFixed.singleButton.text":"立即下载","downloadBar.topFixed.text":"安全下载","downloadBar.vertical.multipleButtons.text":["普通下载","高速下载"],"downloadBar.vertical.multipleButtons.type":["normalDown","highDown"],"downloadBar.horizontal.multipleButtons.text":["安全下载","普通下载"],"downloadBar.horizontal.multipleButtons.type":["highDown","normalDown"],"downloadBar.horizontal.multipleButtons.pattern":["withLogo","fillColor"],"downloadBar.horizontal.multipleButtons.layout":"fixed","basicInfo.brand.bgTypeFallback":"default","basicInfo.brand.infoOrder":["downloadNumber","size","star"],"navigationBar.SEM.returnType":"gohome","feedbackFloatingLayer.normalDown.img":"//ascdn.baidu.com/appsearch/magneton/feedback_normal_Down_security_8.0.png","feedbackFloatingLayer.highDown.img":"//ascdn.baidu.com/appsearch/magneton/feedback_high_Down_security_8.0.png","feedbackFloatingLayer.highDown.seal":"//ascdn.bdstatic.com/appsearch/magneton/security-authentication-seal.png","feedbackFloatingLayer.highDown.heading":"百度手机助手正在下载%s","feedbackFloatingLayer.highDown.subheading":"打开助手立即安装","showBdboxActivity":true,"haoCardPageTab":"haocard","showHaoCardFloat":false,"theme":"blue","bdboxActivity.img":"//ascdn.baidu.com/appsearch/magneton/bdbox_activity_icon.png","bdboxActivity.url":"https://wapsite.baidu.com/huodong/attractNew?from=1020340j&channel=1020340k","bdboxFrom":"","scroll2Detail":false},"boardData":{},"haoCardPage":{}};
        </script>
        <script src="./mltts_files/vendor.bundle-1be3991cc8ab13605496.js"></script>
        <script src="./mltts_files/main-e2d7dbd4fbf53faf3c4b.js"></script>
        <script>/* eslint-disable */
            void function(a,b,c,d,e,f){function g(b){a.attachEvent?a.attachEvent("onload",b,!1):a.addEventListener&&a.addEventListener("load",b)}function h(a,c,d){d=d||15;var e=new Date;e.setTime((new Date).getTime()+1e3*d),b.cookie=a+"="+escape(c)+";path=/;expires="+e.toGMTString()}function i(a){var c=b.cookie.match(new RegExp("(^| )"+a+"=([^;]*)(;|$)"));return null!=c?unescape(c[2]):null}function j(){var a=i("PMS_JT");if(a){h("PMS_JT","",-1);try{a=a.match(/{["']s["']:(\d+),["']r["']:["']([\s\S]+)["']}/),a=a&&a[1]&&a[2]?{s:parseInt(a[1]),r:a[2]}:{}}catch(c){a={}}a.r&&b.referrer.replace(/#.*/,"")!=a.r||alog("speed.set","wt",a.s)}}if(a.alogObjectConfig){var k=a.alogObjectConfig.sample,l=a.alogObjectConfig.rand;d="https:"===a.location.protocol?"https://fex.bdstatic.com"+d:"http://fex.bdstatic.com"+d,k&&l&&l>k||(g(function(){alog("speed.set","lt",+new Date),e=b.createElement(c),e.async=!0,e.src=d+"?v="+~(new Date/864e5)+~(new Date/864e5),f=b.getElementsByTagName(c)[0],f.parentNode.insertBefore(e,f)}),j())}}(window,document,"script","/hunter/alog/dp.mobile.min.js");
        /* eslint-enable */</script>
    

</body></html>
