<!DOCTYPE html>
<!-- saved from url=(0041)http://www.wandoujia.com/apps/com.sintech -->
<html lang="zh-cmn-Hans"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>听听浏览器下载_听听浏览器手机版下载_听听浏览器安卓版免费下载 - 豌豆荚官网</title>
    <meta name="keywords" content="听听浏览器下载,听听浏览器手机版,听听浏览器安卓版,听听浏览器免费下载">
    <meta name="description" content="【豌豆荚】为你提供听听浏览器安卓版下载,查看最新听听浏览器手机版介绍、听听浏览器应用截图、听听浏览器应用的网友评论,一键快捷、方便的将安卓版听听浏览器应用免费下载到手机。">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="http://img.ucdl.pp.uc.cn/upload_files/wdj_web/public/img/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="http://www.wandoujia.com/apps/com.sintech">
    
        <link rel="stylesheet" href="./lsbrs_files/mobilemodule.dfea627e1274bd91890354780d03565a.css">
    
    <link rel="stylesheet" href="./lsbrs_files/appsdetail.f3e370e733d7bce074dd8cfc98d24f9c.css">

<script charset="utf-8" src="./lsbrs_files/v.js"></script><script async="" src="./lsbrs_files/analytics.js"></script><script type="text/javascript">navigator.__defineGetter__('userAgent', function () { return 'Mozilla/5.0 (Linux; U; Android 4.0.4; en-gb; GT-I9300 Build/IMM76D) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30'; });</script></head>
<body cache-app-id="7419553" data-suffix="" data-title="听听浏览器" data-pn="com.sintech" data-app-id="7419553" data-app-vid="200322821" data-app-rtype="0" data-page="detail" class="detail Mobile wdj-web-view wdj-web-view-appsdetail ">
    

    <header>
    <div class="inner">
        <div class="drawer" id="j-nav-btn"></div>
        <div class="logo-wp">
            <a class="pngFix logo" href="http://www.wandoujia.com/">豌豆荚</a>
        </div>
        <ul class="header-nav">
            <li>
                <a target="_blank" href="http://www.wandoujia.com/" class="green">豌豆荚</a>
            </li>
            <li>
                <a target="_blank" href="http://www.wandoujia.com/award">豌豆荚设计奖</a>
            </li>
        </ul>
        <form class="search-form clearfix" action="http://www.wandoujia.com/search">
  <input class="key-ipt" name="key" value="" autocomplete="off" placeholder="搜索安卓应用和游戏" id="j-search-input">
  <input type="submit" value="搜索" class="submit" id="j-search-btn">
  <input type="hidden" name="source" value="detail">
</form>

    </div>
</header>
<div class="mask" id="j-mask" style="display: none;"></div>
<nav id="j-head-menu" class="menu-list pc-main-menu">
    <ul class="parent-menu">
        <li class=" nav-item">
            <a class="first-link" href="http://www.wandoujia.com/apps"><span>应用首页</span></a>
        </li>
        <li class=" has-subs nav-item app-tag-wrap">
            <a class="app-tag first-link" href="http://www.wandoujia.com/category/app"><span>安卓软件<i class="arrow-down"></i></span></a>
            
        </li>
        <li class=" has-subs nav-item game-tag-wrap">
            <a class="game-tag first-link" href="http://www.wandoujia.com/category/game"><span>安卓游戏<i class="arrow-down"></i></span></a>
            
        </li>
        <li class=" nav-item">
            <a class="first-link" href="http://www.wandoujia.com/top/app"><span>排行榜</span></a>
        </li>
        <li class=" nav-item">
            <a class="first-link" href="http://www.wandoujia.com/essential/app"><span>装机必备</span></a>
        </li>
        <li class=" nav-item">
            <a class="first-link" href="http://www.wandoujia.com/special">
            <span>专题</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="first-link" href="http://www.wandoujia.com/award"><span>豌豆荚设计奖</span></a>
        </li>
    </ul>
</nav>

    
    <div class="container" itemscope="" itemtype="http://schema.org/mobileapplication">
        <meta content="http://www.wandoujia.com/apps/com.sintech" itemprop="url">
        

            

            <ul class="crumb clearfix">
                <li>
                    <a data-track="detail-crumb-index" href="http://www.wandoujia.com/apps?pos=w/crumb/detail">应用首页</a>
                </li>
                <li>
                    <a data-track="detail-crumb-tag" href="http://www.wandoujia.com/category/game?pos=w/crumb/detail">热门分类</a>
                </li>
                <li>
                    <a class="current">听听浏览器</a>
                </li>
            </ul>
            
        
        <div class="detail-wrap ">
            <div class="detail-top clearfix">
                <div class="app-icon">
                    
                    <img src="./lsbrs_files/102_a6fe0041832933de29758a103a7a8918_con_130x130.png" itemprop="image" width="78" height="78" alt="听听浏览器">
                    
                </div>

                <div class="app-info">
                    <p class="app-name">
                        <span class="title" itemprop="name">听听浏览器</span>
                        
                    </p>
                    
                   
                </div>
                
                <div class="download-wp">
                    
                    
                    
                    
                    
                    
                    
                        <a data-app-id="7419553" data-app-vid="200322821" data-app-name="听听浏览器" data-app-pname="com.sintech" data-app-vcode="18" data-app-vname="1.2" data-app-icon="http://android-artworks.25pp.com/fs08/2016/09/04/11/102_a6fe0041832933de29758a103a7a8918_con_130x130.png" data-app-rtype="0" data-oe="wap" data-type="bind" data-feat="binded" data-app-categoryid="5018" data-app-subcategoryid="" data-install="608" data-like="" data-name="听听浏览器" data-pn="com.sintech" class="install-btn i-source" rel="nofollow" href="http://www.wandoujia.com/apps/com.sintech/binding?source=wap_seo_google_binded" data-track="detail-download-bind_direct_com.sintech">

                        安全下载
                        </a>
                    
                        <!-- 
                    
                        
                            <a href="http://www.wandoujia.com/apps/com.sintech/download?pos=detail-ndownload-com.sintech" rel="nofollow" download="听听浏览器.apk" data-track="detail-ndownload-com.sintech" class="n-download">下载 APK</a>
                        
                    
                    -->
                </div>
                
                

                <div class="num-list">
                    <span class="item install">
                        <i itemprop="interactionCount" content="UserDownloads:608">608</i>
                        <b>人安装</b>
                    </span>
                    <span class="item love">
                        
                        <i>暂无</i>
                        
                        <b>好评率</b>
                    </span>
                    <div class="comment-area">
                    <a title="查看评论" class="item last comment-open" href="http://www.wandoujia.com/apps/com.sintech#comments" rel="nofollow">
                        <i>0</i>
                        <b>人评论</b>
                    </a>
                    
                            <span class="verified-info">
                                
                                <s class="tag no-ad"></s>
                                
                                
                                <s class="tag permission-info trusted"></s>
                                
                                
                            </span>
                  
                  </div>
                    <div class="score-container" itemscope="itemscope" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
                        <meta content="" itemprop="ratingValue">
                        <meta content="" itemprop="ratingCount">
                    </div>
                </div>
               
            </div>
            <div class="cols clearfix">
                <div class="col-left">
                    
                    <div class="editorComment">
                        <h2 class="block-title">编辑点评 听听浏览器</h2>
                        <div class="con">听听浏览器聆听全世界</div>
                    </div>
                    
                    
                    <div class="screenshot">
                        <h2 class="block-title">听听浏览器 截图</h2>
                        <div class="j-scrollbar-wrap always-visible ps-container ps-theme-default ps-active-x" id="scrollbar" data-ps-id="9366e1bb-ee45-84de-ca6d-3f58c9ed8b09">
                            <div class="view-box" style="width: 648px;">
                                <div data-length="4" class="overview">
                                    
                                    <img src="./lsbrs_files/102_854bfd2003c83106f373a6a250c4989b_234x360.jpg" class="screenshot-img" itemprop="screenshot" alt="听听浏览器" onmousedown="return false" style="width: 157px;">
                                    
                                    <img src="./lsbrs_files/102_e7705b0a1adb18f988f97864470188dd_234x360.jpg" class="screenshot-img" itemprop="screenshot" alt="听听浏览器" onmousedown="return false" style="width: 157px;">
                                    
                                    <img src="./lsbrs_files/102_5f9f46356d2a87860a1ccce02a608a5f_234x360.jpg" class="screenshot-img" itemprop="screenshot" alt="听听浏览器" onmousedown="return false" style="width: 157px;">
                                    
                                    <img src="./lsbrs_files/102_ba4907b8fed086b881ab43a1781f5bf6_234x360.jpg" class="screenshot-img" itemprop="screenshot" alt="听听浏览器" onmousedown="return false" style="width: 157px;">
                                    
                                </div>
                            </div>
                        <div class="ps-scrollbar-x-rail" style="width: 642px; left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 636px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                    </div>
                    
                    
                        <div class="desc-info">
                            <h2 class="block-title">听听浏览器 描述</h2>
                            <div data-originheight="100" class="con" itemprop="description">公交上、地铁上，自行车上、汽车上。。。 任何时间、任何地点，你都可以： <br>听新闻、听报道、听知识，听web上提供的一切， 听听浏览器，聆听全世界。。<br>功能： <br>1.朗读全部：如朗读sina上所有新闻标题，可以按音量下键进入感兴趣的新闻详细报道并自动朗读。朗读时可以音量+返回上一级，音量-暂停、重新朗读。朗读完成后返回sina主页，继续朗读下一条新闻。可以按音量上键朗读上一条新闻标题。 <br>2.朗读当页：朗读当前正在浏览的页面。音量-暂停、重新朗读。<br>3.保存正文：保存当前正在浏览的页面。 <br>4.朗读存储：朗读已保存的内容。 <br>5.可以在熄屏状态下使用手机音量键或耳机音量键操作</div>
                            <a style="" class="more-link" rel="nofollow">更多 <i class="arrow-down"></i></a>
                        </div>
                    

                    

                    
                        <div class="change-info">
                            <h2 class="block-title">听听浏览器 更新内容</h2>
                            <div data-originheight="100" class="con" style="height: auto;">无</div>
                            <a style="display:none;" class="more-link">更多 <i class="arrow-down"></i></a>
                        </div>
                    
                    <div class="all-version">
                        <h2 class="block-title">听听浏览器 历史版本</h2>
                        <ul class="old-version-list">
                            
                        </ul>
                    </div>
                    <div class="use-skills">
                        
                        <h2 class="block-title">听听浏览器 使用技巧</h2>
                        <div data-originheight="0" class="con">无</div>
                        <a style="" class="more-link" rel="nofollow">更多 <i class="arrow-down"></i></a>
                        
                    </div>
                </div>
                <div class="col-right">
                    <div class="infos">
                        <h2 class="block-title">听听浏览器 信息</h2>

                        <dl class="infos-list">

                            
                                <dt>大小</dt>
                                <dd>
                                    4.76MB
                                    <meta itemprop="fileSize" content="4.76MB">
                                </dd>
                            

                            
                                <dt>分类</dt>
                                <dd class="tag-box">
                                    
                                    <a href="http://www.wandoujia.com/category/5018?pos=w/tags/detail_com.sintech" itemprop="SoftwareApplicationCategory" data-track="detail-click-appTag">系统工具</a>
                                    
                                    
                                    
                                    <a href="http://www.wandoujia.com/category/5018_599?pos=w/tags/detail_com.sintech" itemprop="SoftwareApplicationCategory" data-track="detail-click-appTag">浏览器</a>
                                    
                                    
                                </dd>
                            

                            <dt>TAG</dt>
                            <dd>
                                <div class="side-tags clearfix">
                                    
                                        
                                    
                                </div>
                            </dd>

                            
                                <dt>更新</dt>
                                <dd><time id="baidu_time" itemprop="datePublished" datetime="2016年09月04日">2016年09月04日</time></dd>
                            

                            <dt>版本</dt>
                            <dd>&nbsp;1.2</dd>

                            


                                <dt>要求</dt>
                                <dd class="perms" itemprop="operatingSystems" content="Android">
                                    Android 2.2.x 以上
                                    <div>
                                        <a href="javascript:;" rel="nofollow" class="view-perms" id="j-view-perms">查看权限要求<i class="arrow-down"></i></a>
                                        <ul id="j-perms-list" class="perms-list" style="display:none">
                                            
                                                <li><span class="perms" itemprop="permissions">获取手机地理位置</span></li>
                                            
                                        </ul>
                                    </div>
                                </dd>
                            

                            
                        </dl>
                    </div>

                    <div class="infos">
                        <h2 class="block-title">下载听听浏览器的人还下载</h2>
                        <ul class="clearfix relative-download">
                            
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.mobileqq" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_5bbc874e08d424b1447167a91b158eba_con_130x130.png" alt="QQ" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.mobileqq" class="app-name" data-track="detail-click-relateApp">
        QQ
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>21亿人安装</span>
    <a data-app-id="566489" data-app-vid="200556660" data-app-name="QQ" data-app-pname="com.tencent.mobileqq" data-app-vcode="758" data-app-vname="7.3.0" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/12/04/6/110_5bbc874e08d424b1447167a91b158eba_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.mobileqq/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.sina.weibo" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_4416584297ea81cfde53ee9b4deb3052_con_130x130.png" alt="微博" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.sina.weibo" class="app-name" data-track="detail-click-relateApp">
        微博
        
    </a>
    <span>1.9亿人安装</span>
    <a data-app-id="289255" data-app-vid="800560277" data-app-name="微博" data-app-pname="com.sina.weibo" data-app-vcode="3512" data-app-vname="7.11.3" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/29/0/110_4416584297ea81cfde53ee9b4deb3052_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.sina.weibo/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.mm" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/106_31e1fced509900af481c2395e430a0f7_con_130x130.png" alt="微信" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.mm" class="app-name" data-track="detail-click-relateApp">
        微信
        
    </a>
    <span>21.5亿人安装</span>
    <a data-app-id="596157" data-app-vid="600564278" data-app-name="微信" data-app-pname="com.tencent.mm" data-app-vcode="1160" data-app-vname="6.5.22" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2016/11/21/11/106_31e1fced509900af481c2395e430a0f7_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.mm/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.qqlite" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_37f847d9693154b0cdae2df57b3c5951_con_130x130.png" alt="QQ轻聊版" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.qqlite" class="app-name" data-track="detail-click-relateApp">
        QQ轻聊版
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>1.8亿人安装</span>
    <a data-app-id="2184893" data-app-vid="600565871" data-app-name="QQ轻聊版" data-app-pname="com.tencent.qqlite" data-app-vcode="180" data-app-vname="3.6.2" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/23/8/110_37f847d9693154b0cdae2df57b3c5951_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.qqlite/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.renren.mobile.android" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_3f67568528423987bd0ef703536a99bc_con_130x130.png" alt="人人" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.renren.mobile.android" class="app-name" data-track="detail-click-relateApp">
        人人
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>1742.4万人安装</span>
    <a data-app-id="38913" data-app-vid="200535458" data-app-name="人人" data-app-pname="com.renren.mobile.android" data-app-vcode="9010600" data-app-vname="9.1.6" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/09/27/2/110_3f67568528423987bd0ef703536a99bc_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.renren.mobile.android/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.alibaba.mobileim" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_8a81b959b1ccf04d5643868272fc4215_con_130x130.png" alt="旺信" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.alibaba.mobileim" class="app-name" data-track="detail-click-relateApp">
        旺信
        
    </a>
    <span>3610.3万人安装</span>
    <a data-app-id="27459" data-app-vid="400528464" data-app-name="旺信" data-app-pname="com.alibaba.mobileim" data-app-vcode="4520" data-app-vname="4.5.2" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/05/03/7/110_8a81b959b1ccf04d5643868272fc4215_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.alibaba.mobileim/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.qzone" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_d731d8b8caf8f0b90d34d7d02df1b354_con_130x130.png" alt="QQ空间" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.qzone" class="app-name" data-track="detail-click-relateApp">
        QQ空间
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>1.7亿人安装</span>
    <a data-app-id="49529" data-app-vid="200551318" data-app-name="QQ空间" data-app-pname="com.qzone" data-app-vcode="106" data-app-vname="7.6.1.288" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/17/10/110_d731d8b8caf8f0b90d34d7d02df1b354_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.qzone/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.qqpim" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_8053d6df1d09c9c011990299428bff5e_con_130x130.png" alt="QQ同步助手" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.qqpim" class="app-name" data-track="detail-click-relateApp">
        QQ同步助手
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>9125.2万人安装</span>
    <a data-app-id="280111" data-app-vid="800558394" data-app-name="QQ同步助手" data-app-pname="com.tencent.qqpim" data-app-vcode="1550" data-app-vname="6.7.7" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/23/7/110_8053d6df1d09c9c011990299428bff5e_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.qqpim/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.snda.youni" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/1_52ecff027e191c5df046a2b83b06c774_con_130x130.png" alt="Youni有你" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.snda.youni" class="app-name" data-track="detail-click-relateApp">
        Youni有你
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>352.3万人安装</span>
    <a data-app-id="34555" data-app-vid="400051490" data-app-name="Youni有你" data-app-pname="com.snda.youni" data-app-vcode="145" data-app-vname="4.8.6.1" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2016/06/07/7/1_52ecff027e191c5df046a2b83b06c774_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.snda.youni/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/im.yixin" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_9dc95f168f337a3b0b8f8586536fc22b_con_130x130.png" alt="易信" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/im.yixin" class="app-name" data-track="detail-click-relateApp">
        易信
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>4717.8万人安装</span>
    <a data-app-id="1635035" data-app-vid="400545907" data-app-name="易信" data-app-pname="im.yixin" data-app-vcode="262" data-app-vname="6.2.0" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/17/2/110_9dc95f168f337a3b0b8f8586536fc22b_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/im.yixin/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-relateApp">下载</a>
</li>
                            
                            
                        </ul>
                    </div>

                    <div class="infos ">
                        <h3 class="block-title">应用下载排行榜</h3>
                        <ol class="app-top-rank">
                            
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.mobileqq" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_5bbc874e08d424b1447167a91b158eba_con_130x130.png" alt="QQ" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.mobileqq" class="app-name" data-track="detail-click-relateApp">
        QQ
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>897万人安装</span>
    <a data-app-id="566489" data-app-vid="200556471" data-app-name="QQ" data-app-pname="com.tencent.mobileqq" data-app-vcode="758" data-app-vname="7.3.0" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/12/04/6/110_5bbc874e08d424b1447167a91b158eba_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.mobileqq/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.qiyi.video" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_e83c4a456a7c1867d4c71fed98066bec_con_130x130.png" alt="爱奇艺" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.qiyi.video" class="app-name" data-track="detail-click-relateApp">
        爱奇艺
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>686.9万人安装</span>
    <a data-app-id="28855" data-app-vid="800560536" data-app-name="爱奇艺" data-app-pname="com.qiyi.video" data-app-vcode="80980" data-app-vname="8.11.5" data-app-categoryid="5029" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/12/04/11/110_e83c4a456a7c1867d4c71fed98066bec_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.qiyi.video/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.baidu.homework" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_f87db4534d5d9a7a6df95dd400915cc5_con_130x130.png" alt="作业帮" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.baidu.homework" class="app-name" data-track="detail-click-relateApp">
        作业帮
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>599.6万人安装</span>
    <a data-app-id="2392449" data-app-vid="200552983" data-app-name="作业帮" data-app-pname="com.baidu.homework" data-app-vcode="408" data-app-vname="9.6.0" data-app-categoryid="5026" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/23/7/110_f87db4534d5d9a7a6df95dd400915cc5_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.baidu.homework/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.qqlive" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_49c035d8113f3dd8f41388a88371768f_con_130x130.png" alt="腾讯视频" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.qqlive" class="app-name" data-track="detail-click-relateApp">
        腾讯视频
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>448万人安装</span>
    <a data-app-id="280237" data-app-vid="600567468" data-app-name="腾讯视频" data-app-pname="com.tencent.qqlive" data-app-vcode="13321" data-app-vname="5.8.6.13321" data-app-categoryid="5029" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/12/04/9/110_49c035d8113f3dd8f41388a88371768f_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.qqlive/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.mm" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/106_31e1fced509900af481c2395e430a0f7_con_130x130.png" alt="微信" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.mm" class="app-name" data-track="detail-click-relateApp">
        微信
        
    </a>
    <span>1110.9万人安装</span>
    <a data-app-id="596157" data-app-vid="600564278" data-app-name="微信" data-app-pname="com.tencent.mm" data-app-vcode="1160" data-app-vname="6.5.22" data-app-categoryid="5014" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2016/11/21/11/106_31e1fced509900af481c2395e430a0f7_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.mm/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.smile.gifmaker" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_057f92eb140d9c950f1a81c77012c8cb_con_130x130.png" alt="快手" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.smile.gifmaker" class="app-name" data-track="detail-click-relateApp">
        快手
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>932.5万人安装</span>
    <a data-app-id="280621" data-app-vid="600568641" data-app-name="快手" data-app-pname="com.smile.gifmaker" data-app-vcode="5389" data-app-vname="5.4.3.5389" data-app-categoryid="5016" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/12/01/6/110_057f92eb140d9c950f1a81c77012c8cb_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.smile.gifmaker/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.kugou.android" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_7d134d6b20f7f2f5370ed379914edf83_con_130x130.png" alt="酷狗音乐" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.kugou.android" class="app-name" data-track="detail-click-relateApp">
        酷狗音乐
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>565.5万人安装</span>
    <a data-app-id="34221" data-app-vid="600560280" data-app-name="酷狗音乐" data-app-pname="com.kugou.android" data-app-vcode="8921" data-app-vname="8.9.2" data-app-categoryid="5029" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/09/5/110_7d134d6b20f7f2f5370ed379914edf83_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.kugou.android/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.tencent.karaoke" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_e3003be561a21d9052bb7586cac1c31d_con_130x130.png" alt="全民K歌" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.tencent.karaoke" class="app-name" data-track="detail-click-relateApp">
        全民K歌
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>382.4万人安装</span>
    <a data-app-id="6514875" data-app-vid="400542221" data-app-name="全民K歌" data-app-pname="com.tencent.karaoke" data-app-vcode="122" data-app-vname="4.2.11.278" data-app-categoryid="5029" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/08/0/110_e3003be561a21d9052bb7586cac1c31d_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.tencent.karaoke/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.taobao.taobao" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_a2ae1abab5717419a1ded7d7b984bf82_con_130x130.png" alt="淘宝" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.taobao.taobao" class="app-name" data-track="detail-click-relateApp">
        淘宝
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>4669.3万人安装</span>
    <a data-app-id="32267" data-app-vid="400550052" data-app-name="淘宝" data-app-pname="com.taobao.taobao" data-app-vcode="173" data-app-vname="7.2.3" data-app-categoryid="5017" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/29/5/110_a2ae1abab5717419a1ded7d7b984bf82_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.taobao.taobao/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                                <li>
    <div class="left">
        <a href="http://www.wandoujia.com/apps/com.UCMobile" data-track="detail-click-relateApp">
            <img src="./lsbrs_files/110_5bf482cd0c29207d55c50d08e60d9b70_con_130x130.png" alt="UC浏览器" class="icon">
        </a>
    </div>
    <a href="http://www.wandoujia.com/apps/com.UCMobile" class="app-name" data-track="detail-click-relateApp">
        UC浏览器
        
            <span class="tag gooddev"></span>
        
    </a>
    <span>7986.8万人安装</span>
    <a data-app-id="36557" data-app-vid="600563601" data-app-name="UC浏览器" data-app-pname="com.UCMobile" data-app-vcode="708" data-app-vname="11.7.8.958" data-app-categoryid="5018" data-app-subcategoryid="" data-app-icon="http://android-artworks.25pp.com/fs08/2017/11/20/11/110_5bf482cd0c29207d55c50d08e60d9b70_con_130x130.png" data-app-rtype="0" rel="nofollow" class="d-btn i-source" href="http://www.wandoujia.com/apps/com.UCMobile/binding?source=wap_seo_google_binded" data-oe="wap" data-type="bind" data-feat="binded" data-track="detail-download-rankList">下载</a>
</li>
                                
                            
                        </ol>
                    </div>
                </div>
                <div class="col-left">
                    <div class="comments" id="comments">
                        <div>
                            <h2 class="block-title">听听浏览器 评论</h2>
                        </div>

                        <ul class="comments-list">
                            

    


                            <li class="normal-li normal-li-detail">
                                <div class="detail-comment-more">
                                    <a class="tip" href="http://www.wandoujia.com/apps/com.sintech/comment2">查看更多评论 &gt;&gt;</a>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-submit-wrap">
                            <textarea placeholder="忍不住了，我来说两句..."></textarea>
                            <div class="comment-opera">
                                <span class="tip">游客身份评论</span>
                                <a href="javascript:void(0);" class="comment-submit" data-track="">发表</a>
                            </div>
                        </div>
                    </div>
                    <div class="hot-tags">
                        <h3 class="block-title">热门应用</h3>
                        <div class="tag-box">
                            
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.wuba.bangjob" data-track="detail-click-hotAppNav">招才猫直聘</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/aiqianjin.jiea" data-track="detail-click-hotAppNav">钱站</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.sohu.sohuvideo" data-track="detail-click-hotAppNav">搜狐视频</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/net.tym.tcyyh" data-track="detail-click-hotAppNav">同城陌陌约</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.qqlive" data-track="detail-click-hotAppNav">腾讯视频</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.mianfeia.book" data-track="detail-click-hotAppNav">免费电子书</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.youku.crazytogether" data-track="detail-click-hotAppNav">来疯直播</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.china3s.android" data-track="detail-click-hotAppNav">春秋航空</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.wanda.app.wanhui" data-track="detail-click-hotAppNav">飞凡</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.zhifu.live" data-track="detail-click-hotAppNav">制服直播秀场</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.ucar.app" data-track="detail-click-hotAppNav">淘车二手车</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.qqpimsecure" data-track="detail-click-hotAppNav">腾讯手机管家</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.enniu.renpindai" data-track="detail-click-hotAppNav">51人品贷</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.job.android" data-track="detail-click-hotAppNav">前程无忧51Job</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.kuaidu.tcy" data-track="detail-click-hotAppNav">同城约</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tongcheng.android" data-track="detail-click-hotAppNav">同程旅游</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.yongqianbao.credit" data-track="detail-click-hotAppNav">用钱宝</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.yiche.price" data-track="detail-click-hotAppNav">汽车报价大全</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.youdao.dict" data-track="detail-click-hotAppNav">有道词典</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.ifeng.news2" data-track="detail-click-hotAppNav">凤凰新闻</a>
                                    
                                
                            
                        </div>

                        <h3 class="block-title">热门游戏</h3>
                        <div class="tag-box">
                            
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.netease.zjz.uc" data-track="detail-click-hotAppNav">终结者2：审判日</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.mas.wawagame.HLlord.uc" data-track="detail-click-hotAppNav">欢乐斗地主</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.jiguang.dtszj.aligames" data-track="detail-click-hotAppNav">大天使之剑H5</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.netease.sgrlz.aligames" data-track="detail-click-hotAppNav">三国如龙传</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.tmgp.xxsy" data-track="detail-click-hotAppNav">寻仙手游</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.tmgp.xymobile" data-track="detail-click-hotAppNav">轩辕传奇</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.tmgp.mhzxsy" data-track="detail-click-hotAppNav">梦幻诛仙手游</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.netease.hzgj.uc" data-track="detail-click-hotAppNav">魂之轨迹</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.netease.qrzd.aligames" data-track="detail-click-hotAppNav">永远的7日之都</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.tmgp.sgame" data-track="detail-click-hotAppNav">王者荣耀</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.ea.android.chs.nbamobile.aligames" data-track="detail-click-hotAppNav">NBALIVE</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.KiHan" data-track="detail-click-hotAppNav">火影忍者</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.cldts" data-track="detail-click-hotAppNav">光荣使命：使命行动</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.sy.xlwy.aligames" data-track="detail-click-hotAppNav">仙灵觉醒</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.tencent.tmgp.tstl" data-track="detail-click-hotAppNav">天龙八部手游</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.zlongame.champion.aligames" data-track="detail-click-hotAppNav">冠军电竞经理</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.xishanju.mysy.uc" data-track="detail-click-hotAppNav">魔域手游</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/br.com.tapps.theperfectionist" data-track="detail-click-hotAppNav">逼死一只强迫症</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.netease.mc.aligames" data-track="detail-click-hotAppNav">我的世界</a>
                                    
                                
                                    
                                    <a href="http://www.wandoujia.com/apps/com.npc.weaponggirl.uc" data-track="detail-click-hotAppNav">兵器少女</a>
                                    
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="gotop-btn" title="回到页首">
        <span class="gotop-btn-inner"></span>
    </a>
    <footer>
    

    <section class="copyright clearfix m-ft-item">北京卓易讯畅科技有限公司 版权所有 2010-2017</section>

    
    <div class="instructions clearfix m-ft-item">
        <div class="m-ft-left">更多信息</div>
        <div class="m-ft-right">
            <a href="http://m.wandoujia.com/terms" target="_blank" rel="nofollow">使用条款</a>
            <a href="http://m.wandoujia.com/help" target="_blank" rel="nofollow">使用帮助</a>
            <a class="last" href="http://m.wandoujia.com/about" target="_blank" rel="nofollow">关于我们</a>
        </div>
    </div>
    <div class="contact-us clearfix m-ft-item">
        <div class="m-ft-left">联系我们</div>
        <div class="m-ft-right">
            <p class="contact-item">举报电话 <a href="tel:020-66826682">020-66826682</a></p>
            <p class="contact-item">举报邮箱 wandoujia@service.alibaba.com</p>
            <div class="contact-btn contact-item">
                <a class="online" href="https://feedback.uc.cn/self_service/wap/index?instance=wdj_game&amp;pf=145&amp;uc_param_str=einibicppfmivefrlantcunwsssvjbktchnnsnddds" target="_blank">联系在线客服</a>
                <a class="weibo" href="http://weibo.com/wandoulabs" target="_blank">官方微博</a>
            </div>
        </div>
    </div>

    
    
</footer>







    <a class="comeon-uc i-source" data-track="detail-download-footer" data-oe="wap" data-feat="floating" data-type="bind" href="http://www.wandoujia.com/apps/com.sintech/binding?source=wap_seo_google_floating" rel="nofollow">
        <div class="p-logo"></div>
        <div class="desc">
            <p class="txt">豌豆荚</p>
            <p class="txt" style="font-size: 13px;margin-top: 5px;">提供此应用最新版下载</p>
        </div>
        <span class="green-btn">立即下载</span>
    </a>



    
    <script type="text/javascript" src="./lsbrs_files/common.c22e2436.js"></script>

    
        
        <script type="text/javascript" src="./lsbrs_files/mobilemodule.c22e2436.js"></script>

        <!-- build:js(.tmp) /javascripts/mobile-module.js -->
        <!-- <script src="/components/zepto/zepto.js"></script>
        <script src="//st.wdjcdn.com/apps/javascripts/widget/popup.mobile.js"></script>
        <script src="//st.wdjcdn.com/apps/javascripts/common/WeixinApi.js"></script>
        <script src="//st.wdjcdn.com/apps/javascripts/common/ga_tracking.js"></script>
        <script src="//st.wdjcdn.com/apps/javascripts/common/mobile_interaction.js"></script>
        <script src="//st.wdjcdn.com/apps/javascripts/common/download_source.js"></script> -->
        <!-- endbuild -->

    

    <script type="text/javascript" src="./lsbrs_files/appsdetail.c22e2436.js"></script><script type="text/javascript" src="./lsbrs_files/footer.c22e2436.js"></script>




    
        


    

<textarea id="install-popup" style="display:none;">    &lt;div class="popup-title"&gt;下载「听听浏览器」
        &lt;a href="javascript:;" class="popop-close" title="关闭" track="close/popup/detail"&gt;×&lt;/a&gt;
    &lt;/div&gt;

    &lt;div class="popup-cnt"&gt;
        &lt;div class="clearfix"&gt;
            &lt;div class="app-info"&gt;

                &lt;div class="app" data-pn="com.sintech"&gt;
                
                    &lt;a class="icon-area" href="http://www.wandoujia.com/apps/com.sintech"&gt;
                        &lt;img src="http://android-artworks.25pp.com/fs08/2016/09/04/11/102_a6fe0041832933de29758a103a7a8918_con_130x130.png" width="68" height="68" alt="听听浏览器" class="icon" /&gt;
                    &lt;/a&gt;
                
                    &lt;div class="operate"&gt;
                        &lt;a title="听听浏览器" href="http://www.wandoujia.com/apps/com.sintech" class="name"&gt;听听浏览器&lt;/a&gt;

                        &lt;span class="meta"&gt;
                            &lt;span&gt;好评率&lt;/span&gt;
                            &lt;span&gt;608人安装&lt;/span&gt;
                        &lt;/span&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;a id="popup-install" target="_blank" href="javascript:;" data-track="detail-download-com.sintech" class="popup-install" title="点击直接下载豌豆荚"&gt;用豌豆荚下载&lt;/a&gt;
            &lt;/div&gt;
            &lt;div class="binded-qr"&gt;
                &lt;img src="http://www.wandoujia.com/api/qr?s=5&amp;c=https://ucan.25pp.com/Wandoujia_wandoujia_qrbinded.apk" width="120" height="120" /&gt;
                &lt;p class="qr-tip"&gt;扫描二维码即可下载&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="prompts" id="adwords-cnt" style="display:none;"&gt;
            &lt;p&gt;您将开始下载豌豆荚客户端，请到客户端中继续下载该应用。&lt;/p&gt;
            &lt;p&gt;
                &lt;a href="http://www.wandoujia.com/terms" target="_blank"&gt;豌豆荚用户使用条款&lt;/a&gt; ·
                &lt;a href="http://www.wandoujia.com/help" target="_blank"&gt;使用帮助&lt;/a&gt; ·
                &lt;a href="http://www.wandoujia.com/about" target="_blank"&gt;联系我们&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</textarea>
    

    

    
    <textarea id="wx-download-popup" style="display:none;">
    &lt;div class="wx-download-tip"&gt;
    	&lt;p class="inner"&gt;
    		&lt;img src="//img.ucdl.pp.uc.cn/upload_files/wdj_web/public/img/n_wx_tip.png" alt="微信内请用浏览器打开下载"/&gt;
    		&lt;span title="关闭" class="close"&gt;×&lt;/span&gt;
    	&lt;/p&gt;
    &lt;/div&gt;

</textarea>
    <script type="text/javascript" src="./lsbrs_files/appsdetail.c22e2436.js"></script><script type="text/javascript" src="./lsbrs_files/footer.c22e2436.js"></script>
    

<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-96094474-2', 'wandoujia.com');
ga('send', 'pageview');

</script>




<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc680f6745efe87a8fabe78e376c4b5f9' type='text/javascript'%3E%3C/script%3E"));
</script><script src="./lsbrs_files/h.js" type="text/javascript"></script>


<iframe src="./lsbrs_files/com.html" style="display: none;"></iframe><iframe src="./lsbrs_files/ad.html" style="display: none;"></iframe></body></html>